<ion-toolbar color="primary">
	<ion-title>{{ 'TRAINER-EDUCATION-DETAIL' | translate }} - {{ 'NEW' | translate }}</ion-title>
</ion-toolbar>
<ion-content padding>
	<form [formGroup]="trainerEducationDetailForm" *ngIf="trainerEducationDetailForm">
		<ion-card-content>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINER-EDUCATION-DETAIL-INSTITUTENAME' | translate }}</ion-label>
				<ion-input formControlName="instituteName" id="instituteName" name="instituteName" #instituteName
					placeholder="{{ 'TRAINER-EDUCATION-DETAIL-INSTITUTENAME' | translate }}" maxlength="60">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainerEducationDetailForm.controls['instituteName'].dirty || trainerEducationDetailForm.controls['instituteName'].touched)" class="errors">
                <div *ngIf="hasError('instituteName', 'minlength')">
                    {{ 'TRAINER-EDUCATION-DETAIL-INSTITUTENAME' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('instituteName', 'maxlength')">
                    {{ 'TRAINER-EDUCATION-DETAIL-INSTITUTENAME' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 60</div>
			</div>
			<ion-item>
				<ion-label>{{ 'TRAINER-EDUCATION-DETAIL-GRADUATIONDATE' | translate }}</ion-label>
				<ion-datetime displayFormat="DD/MM/YYYY" 
					formControlName="graduationDate" placeholder="{{ 'TRAINER-EDUCATION-DETAIL-GRADUATIONDATE' | translate }}">
				</ion-datetime>
			</ion-item>
			<div *ngIf="(trainerEducationDetailForm.controls['graduationDate'].dirty || trainerEducationDetailForm.controls['graduationDate'].touched)" class="errors">
                <div *ngIf="hasError('graduationDate', 'minlength')">
                    {{ 'TRAINER-EDUCATION-DETAIL-GRADUATIONDATE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('graduationDate', 'maxlength')">
                    {{ 'TRAINER-EDUCATION-DETAIL-GRADUATIONDATE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 100</div>
			</div>
			<ion-item>
				<ion-label>{{ 'TRAINER-EDUCATION-DETAIL-QUALIFICATION' | translate }}</ion-label>
				<ion-select formControlName="qualification" id="qualification" name="qualification" 
						[compareWith]="compareQualification" required>
					<ion-select-option *ngFor="let qualification of qualifications" [value]="qualification">
						{{ qualification.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(trainerEducationDetailForm.controls['qualification'].dirty || trainerEducationDetailForm.controls['qualification'].touched)" class="errors">
				<div *ngIf="hasError('qualification', 'required')">
					{{ 'TRAINER-EDUCATION-DETAIL-QUALIFICATION' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINER-EDUCATION-DETAIL-INSTITUTELOCATION' | translate }}</ion-label>
				<ion-input formControlName="instituteLocation" id="instituteLocation" name="instituteLocation" #instituteLocation
					placeholder="{{ 'TRAINER-EDUCATION-DETAIL-INSTITUTELOCATION' | translate }}" maxlength="120">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainerEducationDetailForm.controls['instituteLocation'].dirty || trainerEducationDetailForm.controls['instituteLocation'].touched)" class="errors">
                <div *ngIf="hasError('instituteLocation', 'minlength')">
                    {{ 'TRAINER-EDUCATION-DETAIL-INSTITUTELOCATION' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 3</div>
                <div *ngIf="hasError('instituteLocation', 'maxlength')">
                    {{ 'TRAINER-EDUCATION-DETAIL-INSTITUTELOCATION' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 120</div>
			</div>
			<ion-item>
				<ion-label>{{ 'TRAINER-EDUCATION-DETAIL-FIELDSTUDY' | translate }}</ion-label>
				<ion-select formControlName="fieldStudy" id="fieldStudy" name="fieldStudy" 
						[compareWith]="compareFieldStudy" required>
					<ion-select-option *ngFor="let fieldStudy of fieldStudies" [value]="fieldStudy">
						{{ fieldStudy.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(trainerEducationDetailForm.controls['fieldStudy'].dirty || trainerEducationDetailForm.controls['fieldStudy'].touched)" class="errors">
				<div *ngIf="hasError('fieldStudy', 'required')">
					{{ 'TRAINER-EDUCATION-DETAIL-FIELDSTUDY' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINER-EDUCATION-DETAIL-MAJOR' | translate }}</ion-label>
				<ion-input formControlName="major" id="major" name="major" #major
					placeholder="{{ 'TRAINER-EDUCATION-DETAIL-MAJOR' | translate }}" maxlength="120">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainerEducationDetailForm.controls['major'].dirty || trainerEducationDetailForm.controls['major'].touched)" class="errors">
                <div *ngIf="hasError('major', 'minlength')">
                    {{ 'TRAINER-EDUCATION-DETAIL-MAJOR' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 3</div>
                <div *ngIf="hasError('major', 'maxlength')">
                    {{ 'TRAINER-EDUCATION-DETAIL-MAJOR' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 120</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINER-EDUCATION-DETAIL-GRADE' | translate }}</ion-label>
				<ion-input formControlName="grade" id="grade" name="grade" #grade
					placeholder="{{ 'TRAINER-EDUCATION-DETAIL-GRADE' | translate }}" maxlength="120">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainerEducationDetailForm.controls['grade'].dirty || trainerEducationDetailForm.controls['grade'].touched)" class="errors">
                <div *ngIf="hasError('grade', 'minlength')">
                    {{ 'TRAINER-EDUCATION-DETAIL-GRADE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 3</div>
                <div *ngIf="hasError('grade', 'maxlength')">
                    {{ 'TRAINER-EDUCATION-DETAIL-GRADE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 120</div>
			</div>
			<div style="color:#666666;padding-bottom:8px"><ion-label>{{ 'TRAINER-EDUCATION-DETAIL-DESCRIPTION' | translate }}</ion-label></div>
            <editor 
                formControlName = "description"
                [init]="{ 
	                	base_url: '/tinymce', 
	                	menubar: false,
	                    suffix: '.min', 
	                    plugins: 'lists advlist table',
	                    toolbar: 'undo redo | bold italic underline | ' + 
	                    	'alignleft aligncenter alignright alignjustify | ' +
	                    	'bullist numlist outdent indent | removeformat' 
				}">
			</editor><br />
		</ion-card-content>
		<ion-footer>
			<ion-toolbar color="light" style="padding-left: 20px;">
			<ion-button color="primary" (click)="save(trainerEducationDetailForm.value)" 
				[disabled]="!trainerEducationDetailForm.valid">{{ 'SAVE' | translate }}</ion-button>
			<ion-button type="button" color="medium"
				(click)="onCancel()">{{ 'CANCEL' | translate }}</ion-button>
			</ion-toolbar>
		</ion-footer>
    </form>
</ion-content>