<ion-toolbar color="primary">
	<ion-title>{{ 'SCHOLAR-REGISTRATION' | translate }} - {{ 'NEW' | translate }}</ion-title>
</ion-toolbar>
<ion-content padding>
	<form [formGroup]="scholarRegistrationForm" *ngIf="scholarRegistrationForm">
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SCHOLAR-REGISTRATION-ORGANIZATION' | translate }}</ion-label>
				<ion-select formControlName="organization" id="organization" name="organization" 
						[compareWith]="compareOrganization" required>
					<ion-select-option *ngFor="let organization of organizations" [value]="organization">
						{{ organization.name }}</ion-select-option>
				</ion-select>
				<ion-icon name="storefront-outline" slot="start" class="no-padding-margin"></ion-icon>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['organization'].dirty || scholarRegistrationForm.controls['organization'].touched)" class="errors">
				<div *ngIf="hasError('organization', 'required')">
					{{ 'SCHOLAR-REGISTRATION-ORGANIZATION' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label>{{ 'SCHOLAR-REGISTRATION-BRANCH' | translate }}</ion-label>
				<ion-select formControlName="branch" id="branch" name="branch" 
						[compareWith]="compareBranch" required>
					<ng-container *ngFor="let branch of branches">
						<ion-select-option *ngIf="branch.organization.id == scholarRegistrationForm.value.organization.id" [value]="branch">
							{{ branch.name }}</ion-select-option>
					</ng-container>
				</ion-select>
				<ion-icon name="trail-sign-outline" slot="start" class="no-padding-margin"></ion-icon>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['branch'].dirty || scholarRegistrationForm.controls['branch'].touched)" class="errors">
				<div *ngIf="hasError('branch', 'required')">
					{{ 'SCHOLAR-REGISTRATION-BRANCH' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label>{{ 'SCHOLAR-REGISTRATION-DEPARTMENT' | translate }}</ion-label>
				<ion-select formControlName="department" id="department" name="department" 
						[compareWith]="compareDepartment" required>
					<ng-container *ngFor="let department of departments">
						<ion-select-option *ngIf="department.branch.id == scholarRegistrationForm.value.branch.id" [value]="department">
							{{ department.name }}</ion-select-option>
					</ng-container>
				</ion-select>
				<ion-icon name="home-outline" slot="start" class="no-padding-margin"></ion-icon>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['department'].dirty || scholarRegistrationForm.controls['department'].touched)" class="errors">
				<div *ngIf="hasError('department', 'required')">
					{{ 'SCHOLAR-REGISTRATION-DEPARTMENT' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label>{{ 'SCHOLAR-REGISTRATION-SALUTATION' | translate }}</ion-label>
				<ion-select formControlName="salutation" id="salutation" name="salutation" 
						[compareWith]="compareSalutation" required>
					<ion-select-option *ngFor="let salutation of salutations" [value]="salutation">
						{{ salutation.name }}</ion-select-option>
				</ion-select>
				<ion-icon name="school-outline" slot="start" class="no-padding-margin"></ion-icon>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['salutation'].dirty || scholarRegistrationForm.controls['salutation'].touched)" class="errors">
				<div *ngIf="hasError('salutation', 'required')">
					{{ 'SCHOLAR-REGISTRATION-SALUTATION' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'SCHOLAR-REGISTRATION-FIRSTNAME' | translate }}</ion-label>
				<ion-input formControlName="firstName" id="firstName" name="firstName" #firstName
					placeholder="{{ 'SCHOLAR-REGISTRATION-FIRSTNAME' | translate }}" maxlength="50">
				</ion-input>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['firstName'].dirty || scholarRegistrationForm.controls['firstName'].touched)" class="errors">
                <div *ngIf="hasError('firstName', 'required')">
                    {{ 'SCHOLAR-REGISTRATION-FIRSTNAME' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('firstName', 'minlength')">
                    {{ 'SCHOLAR-REGISTRATION-FIRSTNAME' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('firstName', 'maxlength')">
                    {{ 'SCHOLAR-REGISTRATION-FIRSTNAME' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 50</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'SCHOLAR-REGISTRATION-LASTNAME' | translate }}</ion-label>
				<ion-input formControlName="lastName" id="lastName" name="lastName" #lastName
					placeholder="{{ 'SCHOLAR-REGISTRATION-LASTNAME' | translate }}" maxlength="50">
				</ion-input>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['lastName'].dirty || scholarRegistrationForm.controls['lastName'].touched)" class="errors">
                <div *ngIf="hasError('lastName', 'required')">
                    {{ 'SCHOLAR-REGISTRATION-LASTNAME' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('lastName', 'minlength')">
                    {{ 'SCHOLAR-REGISTRATION-LASTNAME' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('lastName', 'maxlength')">
                    {{ 'SCHOLAR-REGISTRATION-LASTNAME' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 50</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'SCHOLAR-REGISTRATION-ICNUMBER' | translate }}</ion-label>
				<ion-input formControlName="icNumber" id="icNumber" name="icNumber" #icNumber
					placeholder="{{ 'SCHOLAR-REGISTRATION-ICNUMBER' | translate }}" maxlength="20">
				</ion-input>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['icNumber'].dirty || scholarRegistrationForm.controls['icNumber'].touched)" class="errors">
                <div *ngIf="hasError('icNumber', 'required')">
                    {{ 'SCHOLAR-REGISTRATION-ICNUMBER' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('icNumber', 'minlength')">
                    {{ 'SCHOLAR-REGISTRATION-ICNUMBER' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('icNumber', 'maxlength')">
                    {{ 'SCHOLAR-REGISTRATION-ICNUMBER' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 20</div>
			</div>
			<ion-item>
				<ion-label>{{ 'SCHOLAR-REGISTRATION-GENDER' | translate }}</ion-label>
				<ion-select formControlName="gender" id="gender" name="gender" 
						[compareWith]="compareGender" required>
					<ion-select-option *ngFor="let gender of genders" [value]="gender">
						{{ gender.name }}</ion-select-option>
				</ion-select>
				<ion-icon name="male-female-outline" slot="start" class="no-padding-margin"></ion-icon>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['gender'].dirty || scholarRegistrationForm.controls['gender'].touched)" class="errors">
				<div *ngIf="hasError('gender', 'required')">
					{{ 'SCHOLAR-REGISTRATION-GENDER' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'SCHOLAR-REGISTRATION-HANDPHONENUMBER' | translate }}</ion-label>
				<ion-input formControlName="handphoneNumber" id="handphoneNumber" name="handphoneNumber" #handphoneNumber
					placeholder="{{ 'SCHOLAR-REGISTRATION-HANDPHONENUMBER' | translate }}" maxlength="20">
				</ion-input>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['handphoneNumber'].dirty || scholarRegistrationForm.controls['handphoneNumber'].touched)" class="errors">
                <div *ngIf="hasError('handphoneNumber', 'required')">
                    {{ 'SCHOLAR-REGISTRATION-HANDPHONENUMBER' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('handphoneNumber', 'minlength')">
                    {{ 'SCHOLAR-REGISTRATION-HANDPHONENUMBER' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 5</div>
                <div *ngIf="hasError('handphoneNumber', 'maxlength')">
                    {{ 'SCHOLAR-REGISTRATION-HANDPHONENUMBER' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 20</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'SCHOLAR-REGISTRATION-EMAILADDRESS' | translate }}</ion-label>
				<ion-input formControlName="emailAddress" id="emailAddress" name="emailAddress" #emailAddress
					placeholder="{{ 'SCHOLAR-REGISTRATION-EMAILADDRESS' | translate }}" maxlength="120">
				</ion-input>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['emailAddress'].dirty || scholarRegistrationForm.controls['emailAddress'].touched)" class="errors">
                <div *ngIf="hasError('emailAddress', 'required')">
                    {{ 'SCHOLAR-REGISTRATION-EMAILADDRESS' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('emailAddress', 'minlength')">
                    {{ 'SCHOLAR-REGISTRATION-EMAILADDRESS' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 3</div>
                <div *ngIf="hasError('emailAddress', 'maxlength')">
                    {{ 'SCHOLAR-REGISTRATION-EMAILADDRESS' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 120</div>
                <div *ngIf="hasError('emailAddress', 'pattern')">
                    {{ 'SCHOLAR-REGISTRATION-EMAILADDRESS' | translate }}: {{ 'FIELD-MUSTBE-PATTERN' | translate }} email</div>
                <div *ngIf="hasError('emailAddress', 'unique')">
                    {{ 'SCHOLAR-REGISTRATION-EMAILADDRESS' | translate }}: {{ 'FIELD-MUSTBE-UNIQUE' | translate }} try another</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'SCHOLAR-REGISTRATION-PASSWORD' | translate }}</ion-label>
				<ion-input formControlName="password" id="password" name="password" #password
					placeholder="{{ 'SCHOLAR-REGISTRATION-PASSWORD' | translate }}" maxlength="120">
				</ion-input>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['password'].dirty || scholarRegistrationForm.controls['password'].touched)" class="errors">
                <div *ngIf="hasError('password', 'required')">
                    {{ 'SCHOLAR-REGISTRATION-PASSWORD' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('password', 'minlength')">
                    {{ 'SCHOLAR-REGISTRATION-PASSWORD' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 5</div>
                <div *ngIf="hasError('password', 'maxlength')">
                    {{ 'SCHOLAR-REGISTRATION-PASSWORD' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 120</div>
                <div *ngIf="hasError('password', 'mustmatch')">
                    {{ 'SCHOLAR-REGISTRATION-PASSWORD' | translate }}: {{ 'FIELD-MUSTBE-MATCH' | translate }} true</div>
                <div *ngIf="hasError('password', 'strength')">
                    {{ 'SCHOLAR-REGISTRATION-PASSWORD' | translate }}: {{ 'PASSWORD-STRONG' | translate }} true</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'SCHOLAR-REGISTRATION-STATUS' | translate }}</ion-label>
				<ion-input formControlName="status" id="status" name="status" #status
					placeholder="{{ 'SCHOLAR-REGISTRATION-STATUS' | translate }}" maxlength="20">
				</ion-input>
			</ion-item>
			<div *ngIf="(scholarRegistrationForm.controls['status'].dirty || scholarRegistrationForm.controls['status'].touched)" class="errors">
                <div *ngIf="hasError('status', 'minlength')">
                    {{ 'SCHOLAR-REGISTRATION-STATUS' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('status', 'maxlength')">
                    {{ 'SCHOLAR-REGISTRATION-STATUS' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 20</div>
			</div>
		</ion-card-content>
		<ion-footer>
			<ion-toolbar color="light" style="padding-left: 20px;">
			<ion-button color="primary" (click)="save(scholarRegistrationForm.value)" 
				[disabled]="!scholarRegistrationForm.valid">{{ 'SAVE' | translate }}</ion-button>
			<ion-button type="button" color="medium"
				(click)="onCancel()">{{ 'CANCEL' | translate }}</ion-button>
			</ion-toolbar>
		</ion-footer>
	</form>
</ion-content>