<ion-card class="login" *ngIf="user !== null">
	<form [formGroup]="changePasswordForm">
	<ion-card-header style="padding:20px">
		<div mat-card-avatar class="login-header-image"></div>
		<ion-card-title>{{ 'CHANGE-PASSWORD' | translate }}</ion-card-title>
		<ion-card-subtitle>{{ 'CHANGE-PASSWORD-MESSAGE' | translate }}</ion-card-subtitle>
	</ion-card-header>
	<ion-card-subtitle *ngIf="message" class="alert-danger">{{ message | translate }}</ion-card-subtitle>
	<ion-card-content class="my-form">
		<ion-item>
			<ion-input [type]="hide ? 'oldPassword' : 'text'" formControlName="oldPassword"
					id="oldPassword" name="oldPassword" 
					placeholder="{{ 'OLD-PASSWORD' | translate }}" minlength="5" maxlength="120" required>
				<ion-icon name="lock-closed-outline" slot="start"></ion-icon>
			</ion-input>
			<ion-icon name="eye" slot="end" (click)="hide = !hide"></ion-icon>
		</ion-item>
		<div *ngIf="(changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)" class="errors">
			<div *ngIf="hasError('oldPassword', 'required')">
				{{ 'OLD-PASSWORD-REQ' | translate }}</div>
			<div *ngIf="hasError('oldPassword', 'minlength')">
				{{ 'OLD-PASSWORD-MIN' | translate }}</div>
			<div *ngIf="hasError('oldPassword', 'maxlength')">
				{{ 'OLD-PASSWORD-MAX' | translate }}</div>
			<div *ngIf="hasError('oldPassword', 'strength')">
				{{ 'OLD-PASSWORD-STRONG' | translate }}</div>
		</div>
		<ion-item>
			<ion-input [type]="hide ? 'newPassword' : 'text'" formControlName="newPassword"
					id="newPassword" name="newPassword" 
					placeholder="{{ 'NEW-PASSWORD' | translate }}" minlength="5" maxlength="120" required>
				<ion-icon name="lock-closed-outline" slot="start"></ion-icon>
			</ion-input>
			<div *ngIf="(changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword'].touched)" class="errors">
				<div *ngIf="hasError('newPassword', 'required')">
					{{ 'NEW-PASSWORD-REQ' | translate }}</div>
				<div *ngIf="hasError('newPassword', 'minlength')">
					{{ 'NEW-PASSWORD-MIN' | translate }}</div>
				<div *ngIf="hasError('newPassword', 'maxlength')">
					{{ 'NEW-PASSWORD-MAX' | translate }}</div>
				<div *ngIf="hasError('newPassword', 'strength')">
					{{ 'NEW-PASSWORD-STRONG' | translate }}</div>
			</div>
		</ion-item>
		<ion-item>
			<ion-input [type]="hide ? 'confirmPassword' : 'text'" formControlName="confirmPassword"
					id="confirmPassword" name="confirmPassword" 
					placeholder="{{ 'CONFIRM-PASSWORD' | translate }}" minlength="5" maxlength="120" required>
				<ion-icon name="lock-closed-outline" slot="start"></ion-icon>
			</ion-input>
			<div *ngIf="(changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)" class="errors">
				<div *ngIf="hasError('confirmPassword', 'required')">
					{{ 'CONFIRM-PASSWORD-REQ' | translate }}</div>
				<div *ngIf="hasError('confirmPassword', 'minlength')">
					{{ 'CONFIRM-PASSWORD-MIN' | translate }}</div>
				<div *ngIf="hasError('confirmPassword', 'maxlength')">
					{{ 'CONFIRM-PASSWORD-MAX' | translate }}</div>
				<div *ngIf="hasError('confirmPassword', 'strength')">
					{{ 'CONFIRM-PASSWORD-STRONG' | translate }}</div>
				<div *ngIf="hasError('confirmPassword', 'mustmatch')">
					{{ 'CONFIRM-PASSWORD-NOTMATCH' | translate }}</div>
			</div>
		</ion-item>
	</ion-card-content>
	<ion-footer class="my-form">
		<button mat-raised-button color="primary" 
			(click)="doChangePassword()">{{ 'CHANGE-PASSWORD' | translate }}</button>
	</ion-footer>
	<div style="height: 5px"></div>
	</form>
</ion-card>