<ion-toolbar color="primary">
	<ion-title>{{ 'STATUS' | translate }} - {{ 'NEW' | translate }}</ion-title>
</ion-toolbar>
<ion-content padding>
	<form [formGroup]="statusForm" *ngIf="statusForm">
		<ion-card-content>
			<ion-item>
				<ion-label position="floating">{{ 'STATUS-SEQUENCE' | translate }}</ion-label>
                <ion-input formControlName="sequence" id="sequence" name="sequence" #sequence
					placeholder="{{ 'STATUS-SEQUENCE' | translate }}" min="1" max="25">
				</ion-input>
			</ion-item>
			<div *ngIf="(statusForm.controls['sequence'].dirty || statusForm.controls['sequence'].touched)" class="errors">
                <div *ngIf="hasError('sequence', 'required')">
                    {{ 'STATUS-SEQUENCE' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('sequence', 'min')">
                    {{ 'STATUS-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM' | translate }} 1</div>
                <div *ngIf="hasError('sequence', 'max')">
                    {{ 'STATUS-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM' | translate }} 25</div>
				<div *ngIf="hasError('sequence', 'pattern')">
					{{ 'STATUS-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-NUMERIC' | translate }}</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'STATUS-NAME' | translate }}</ion-label>
				<ion-input formControlName="name" id="name" name="name" #name
					placeholder="{{ 'STATUS-NAME' | translate }}" maxlength="60">
				</ion-input>
			</ion-item>
			<div *ngIf="(statusForm.controls['name'].dirty || statusForm.controls['name'].touched)" class="errors">
                <div *ngIf="hasError('name', 'required')">
                    {{ 'STATUS-NAME' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('name', 'minlength')">
                    {{ 'STATUS-NAME' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('name', 'maxlength')">
                    {{ 'STATUS-NAME' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 60</div>
			</div>
			<ion-item>
				<ion-checkbox formControlName="byDefault" id="byDefault" color="danger"></ion-checkbox>&nbsp;&nbsp;&nbsp;
				<ion-label>{{ 'STATUS-BYDEFAULT' | translate }}</ion-label>
			</ion-item>
		</ion-card-content>
		<ion-footer>
			<ion-toolbar color="light" style="padding-left: 20px;">
			<ion-button color="primary" (click)="save(statusForm.value)" 
				[disabled]="!statusForm.valid">{{ 'SAVE' | translate }}</ion-button>
			<ion-button type="button" color="medium"
				(click)="onCancel()">{{ 'CANCEL' | translate }}</ion-button>
			</ion-toolbar>
		</ion-footer>
	</form>
</ion-content>