<ion-toolbar color="primary">
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-title>{{ 'BATCH-PREREQUISITE' | translate }}</ion-title>
</ion-toolbar>
<ion-content padding>
	<form [formGroup]="batchPrerequisiteForm" *ngIf="batchPrerequisiteForm">
		<ion-card-content>
			<ion-item>
				<ion-label position="floating">{{ 'BATCH-PREREQUISITE-SEQUENCE' | translate }}</ion-label>
                <ion-input formControlName="sequence" id="sequence" name="sequence" #sequence
					placeholder="{{ 'BATCH-PREREQUISITE-SEQUENCE' | translate }}" min="1" max="2000">
				</ion-input>
			</ion-item>
			<div *ngIf="(batchPrerequisiteForm.controls['sequence'].dirty || batchPrerequisiteForm.controls['sequence'].touched)" class="errors">
                <div *ngIf="hasError('sequence', 'required')">
                    {{ 'BATCH-PREREQUISITE-SEQUENCE' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('sequence', 'min')">
                    {{ 'BATCH-PREREQUISITE-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM' | translate }} 1</div>
                <div *ngIf="hasError('sequence', 'max')">
                    {{ 'BATCH-PREREQUISITE-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM' | translate }} 2000</div>
				<div *ngIf="hasError('sequence', 'pattern')">
					{{ 'BATCH-PREREQUISITE-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-NUMERIC' | translate }}</div>
			</div>
			<ion-item>
                <input matInput type="text" formControlName="description" id="description" 
                    name="description" placeholder="{{ 'BATCH-PREREQUISITE-DESCRIPTION' | translate }}" maxlength="100"/>
			</ion-item>
			<div *ngIf="(batchPrerequisiteForm.controls['description'].dirty || batchPrerequisiteForm.controls['description'].touched)" class="errors">
                <div *ngIf="hasError('description', 'minlength')">
                    {{ 'BATCH-PREREQUISITE-DESCRIPTION' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('description', 'maxlength')">
                    {{ 'BATCH-PREREQUISITE-DESCRIPTION' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 100</div>
			</div>
		</ion-card-content>
		<ion-footer>
			<ion-toolbar color="light" style="padding-left: 20px;">
			<ion-button color="primary" (click)="save(batchPrerequisiteForm.value)" 
				[disabled]="!batchPrerequisiteForm.valid">{{ 'SAVE' | translate }}</ion-button>
			<ion-button type="button" color="medium"
				(click)="onCancel()">{{ 'CANCEL' | translate }}</ion-button>
			</ion-toolbar>
		</ion-footer>
    </form>
</ion-content>