<mat-card class="login" *ngIf="user !== null">
	<form [formGroup]="changePasswordForm">
	<mat-card-header style="padding:20px">
		<div mat-card-avatar class="login-header-image"></div>
		<mat-card-title>{{ 'CHANGE-PASSWORD' | translate }}</mat-card-title>
		<mat-card-subtitle>{{ 'CHANGE-PASSWORD-MESSAGE' | translate }}</mat-card-subtitle>
	</mat-card-header>
	<mat-card-subtitle *ngIf="message" class="alert-danger">{{ message | translate }}</mat-card-subtitle>
	<mat-card-content class="my-form">
		<mat-form-field class="full-width">
			<mat-label for="oldPassword">{{ 'OLD-PASSWORD' | translate }}</mat-label>
			<input matInput [type]="oldPasswordHide ? 'password' : 'text'"
				formControlName="oldPassword" id="oldPassword" (keydown.enter)="$event.preventDefault()"
				name="oldPassword" placeholder="Enter your old password" minlength="5" maxlength="120" required/>
				<mat-icon matPrefix style="padding-right: 20px;">lock</mat-icon>
				<button mat-icon-button matSuffix (click)="oldPasswordHide = !oldPasswordHide"
						[attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldPasswordHide">
					<mat-icon>{{ oldPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
				</button>
				<mat-error *ngIf="hasError('oldPassword', 'required')">
					{{ 'OLD-PASSWORD-REQ' | translate }}</mat-error>
				<mat-error *ngIf="hasError('oldPassword', 'minlength')">
					{{ 'OLD-PASSWORD-MIN' | translate }}</mat-error>
				<mat-error *ngIf="hasError('oldPassword', 'maxlength')">
					{{ 'OLD-PASSWORD-MAX' | translate }}</mat-error>
				<mat-error *ngIf="hasError('oldPassword', 'strength')">
					{{ 'OLD-PASSWORD-STRONG' | translate }}</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">
			<mat-label for="newPassword">{{ 'NEW-PASSWORD' | translate }}</mat-label>
			<input matInput [type]="newPasswordHide ? 'password' : 'text'"
				formControlName="newPassword" id="newPassword" (keydown.enter)="$event.preventDefault()"
				name="newPassword" placeholder="Enter your new password" minlength="5" maxlength="120" required/>
			<mat-icon matPrefix style="padding-right: 20px;">lock</mat-icon>
			<button mat-icon-button matSuffix (click)="newPasswordHide = !newPasswordHide"
					[attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasswordHide">
				<mat-icon>{{ newPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
			</button>
			<mat-error *ngIf="hasError('newPassword', 'required')">
				{{ 'NEW-PASSWORD-REQ' | translate }}</mat-error>
			<mat-error *ngIf="hasError('newPassword', 'minlength')">
				{{ 'NEW-PASSWORD-MIN' | translate }}</mat-error>
			<mat-error *ngIf="hasError('newPassword', 'maxlength')">
				{{ 'NEW-PASSWORD-MAX' | translate }}</mat-error>
			<mat-error *ngIf="hasError('newPassword', 'strength')">
				{{ 'NEW-PASSWORD-STRONG' | translate }}</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">
			<mat-label for="confirmPassword">{{ 'CONFIRM-PASSWORD' | translate }}</mat-label>
			<input matInput [type]="confirmPasswordHide ? 'password' : 'text'"
				formControlName="confirmPassword" id="confirmPassword" (keydown.enter)="$event.preventDefault()"
				name="confirmPassword" placeholder="Enter your confirm password" minlength="5" maxlength="120" required/>
			<mat-icon matPrefix style="padding-right: 20px;">lock</mat-icon>
			<button mat-icon-button matSuffix (click)="confirmPasswordHide = !confirmPasswordHide"
					[attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordHide">
				<mat-icon>{{ confirmPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
			</button>
			<mat-error *ngIf="hasError('confirmPassword', 'required')">
				{{ 'CONFIRM-PASSWORD-REQ' | translate }}</mat-error>
			<mat-error *ngIf="hasError('confirmPassword', 'minlength')">
				{{ 'CONFIRM-PASSWORD-MIN' | translate }}</mat-error>
			<mat-error *ngIf="hasError('confirmPassword', 'maxlength')">
				{{ 'CONFIRM-PASSWORD-MAX' | translate }}</mat-error>
			<mat-error *ngIf="hasError('confirmPassword', 'strength')">
				{{ 'CONFIRM-PASSWORD-STRONG' | translate }}</mat-error>
			<mat-error *ngIf="hasError('confirmPassword', 'mustmatch')">
				{{ 'CONFIRM-PASSWORD-NOTMATCH' | translate }}</mat-error>
		</mat-form-field>
	</mat-card-content>
	<mat-card-actions class="my-form">
		<button mat-raised-button color="primary" 
			(click)="doChangePassword()">{{ 'CHANGE-PASSWORD' | translate }}</button>
	</mat-card-actions>
	<div style="height: 5px"></div>
	</form>
</mat-card>