<ion-toolbar color="primary">
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-title>{{ 'TRAINER-FAMILY' | translate }}</ion-title>
</ion-toolbar>
<ion-content padding>
	<form [formGroup]="trainerFamilyForm" *ngIf="trainerFamilyForm">
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'TRAINER-FAMILY-RELATIONTYPE' | translate }}</ion-label>
				<ion-select formControlName="relationType" id="relationType" name="relationType" 
						[compareWith]="compareRelationType" required>
					<ion-select-option *ngFor="let relationType of relationTypes" [value]="relationType">
						{{ relationType.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(trainerFamilyForm.controls['relationType'].dirty || trainerFamilyForm.controls['relationType'].touched)" class="errors">
				<div *ngIf="hasError('relationType', 'required')">
					{{ 'TRAINER-FAMILY-RELATIONTYPE' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
                <input matInput type="text" formControlName="name" id="name" 
                    name="name" placeholder="{{ 'TRAINER-FAMILY-NAME' | translate }}" maxlength="60"/>
			</ion-item>
			<div *ngIf="(trainerFamilyForm.controls['name'].dirty || trainerFamilyForm.controls['name'].touched)" class="errors">
                <div *ngIf="hasError('name', 'required')">
                    {{ 'TRAINER-FAMILY-NAME' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('name', 'minlength')">
                    {{ 'TRAINER-FAMILY-NAME' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 3</div>
                <div *ngIf="hasError('name', 'maxlength')">
                    {{ 'TRAINER-FAMILY-NAME' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 60</div>
			</div>
			<ion-item>
                <input matInput type="text" formControlName="occupation" id="occupation" 
                    name="occupation" placeholder="{{ 'TRAINER-FAMILY-OCCUPATION' | translate }}" maxlength="60"/>
			</ion-item>
			<div *ngIf="(trainerFamilyForm.controls['occupation'].dirty || trainerFamilyForm.controls['occupation'].touched)" class="errors">
                <div *ngIf="hasError('occupation', 'minlength')">
                    {{ 'TRAINER-FAMILY-OCCUPATION' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 3</div>
                <div *ngIf="hasError('occupation', 'maxlength')">
                    {{ 'TRAINER-FAMILY-OCCUPATION' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 60</div>
			</div>
			<ion-item>
				<ion-label>{{ 'TRAINER-FAMILY-CITIZEN' | translate }}</ion-label>
				<ion-select formControlName="citizen" id="citizen" name="citizen" 
						[compareWith]="compareCitizen" required>
					<ion-select-option *ngFor="let citizen of citizens" [value]="citizen">
						{{ citizen.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(trainerFamilyForm.controls['citizen'].dirty || trainerFamilyForm.controls['citizen'].touched)" class="errors">
				<div *ngIf="hasError('citizen', 'required')">
					{{ 'TRAINER-FAMILY-CITIZEN' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
                <input matInput type="text" formControlName="nricNumber" id="nricNumber" 
                    name="nricNumber" placeholder="{{ 'TRAINER-FAMILY-NRICNUMBER' | translate }}" maxlength="20"/>
			</ion-item>
			<div *ngIf="(trainerFamilyForm.controls['nricNumber'].dirty || trainerFamilyForm.controls['nricNumber'].touched)" class="errors">
                <div *ngIf="hasError('nricNumber', 'minlength')">
                    {{ 'TRAINER-FAMILY-NRICNUMBER' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 3</div>
                <div *ngIf="hasError('nricNumber', 'maxlength')">
                    {{ 'TRAINER-FAMILY-NRICNUMBER' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 20</div>
			</div>
			<ion-item>
                <input matInput type="text" formControlName="email" id="email" 
                    name="email" placeholder="{{ 'TRAINER-FAMILY-EMAIL' | translate }}" maxlength="80"/>
			</ion-item>
			<div *ngIf="(trainerFamilyForm.controls['email'].dirty || trainerFamilyForm.controls['email'].touched)" class="errors">
                <div *ngIf="hasError('email', 'minlength')">
                    {{ 'TRAINER-FAMILY-EMAIL' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('email', 'maxlength')">
                    {{ 'TRAINER-FAMILY-EMAIL' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 80</div>
			</div>
			<ion-item>
                <input matInput type="text" formControlName="phone" id="phone" 
                    name="phone" placeholder="{{ 'TRAINER-FAMILY-PHONE' | translate }}" maxlength="20"/>
			</ion-item>
			<div *ngIf="(trainerFamilyForm.controls['phone'].dirty || trainerFamilyForm.controls['phone'].touched)" class="errors">
                <div *ngIf="hasError('phone', 'minlength')">
                    {{ 'TRAINER-FAMILY-PHONE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('phone', 'maxlength')">
                    {{ 'TRAINER-FAMILY-PHONE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 20</div>
			</div>
		</ion-card-content>
		<ion-footer>
			<ion-toolbar color="light" style="padding-left: 20px;">
			<ion-button color="primary" (click)="save(trainerFamilyForm.value)" 
				[disabled]="!trainerFamilyForm.valid">{{ 'SAVE' | translate }}</ion-button>
			<ion-button type="button" color="medium"
				(click)="onCancel()">{{ 'CANCEL' | translate }}</ion-button>
			</ion-toolbar>
		</ion-footer>
    </form>
</ion-content>