<ion-toolbar color="primary">
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-title>{{ 'TRAINER-FAMILY' | translate }}</ion-title>
	<ion-buttons slot="end" color="success">
		<ion-button fill="clear" (click)="add()">
			<ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
<ion-content padding>
	<ion-card *ngFor="let trainerFamily of trainerFamilies">
		<ion-card-content style="padding: bottom 0px;">
			<h2>
				<b>{{ 'TRAINER-FAMILY-RELATIONTYPE' | translate }}:</b>&nbsp;
				{{ trainerFamily.relationType.name }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-FAMILY-NAME' | translate }}:</b>&nbsp;
				{{ trainerFamily.name }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-FAMILY-OCCUPATION' | translate }}:</b>&nbsp;
				{{ trainerFamily.occupation }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-FAMILY-CITIZEN' | translate }}:</b>&nbsp;
				{{ trainerFamily.citizen.name }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-FAMILY-NRICNUMBER' | translate }}:</b>&nbsp;
				{{ trainerFamily.nricNumber }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-FAMILY-EMAIL' | translate }}:</b>&nbsp;
				{{ trainerFamily.email }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-FAMILY-PHONE' | translate }}:</b>&nbsp;
				{{ trainerFamily.phone }}
			</h2>
			<ion-row no-padding>
				<ion-col size="4" no-padding></ion-col>
				<ion-col size="8" no-padding>
					<ion-button fill="clear" size="small" (click)="edit(trainerFamily)">
						<ion-icon name="create-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="delete(trainerFamily)">
						<ion-icon name="trash-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="print(trainerFamily)">
						<ion-icon name="print-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="showDetail(trainerFamily)">
						<ion-icon name="list-outline"></ion-icon>
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
</ion-content>