.forgotpassword {
    width:35%;
    margin:40px auto;
}

.my-form {
    margin: 20px;
}

.full-width {
    width: 100%
}

.forgotpassword-header-image {
    background-image: url('http://agasthiar.com.my/admin/images/img_avatar.png');
    background-size: cover;
    width: 45px;
    height: 45px;
}

.dashboard {
    max-width: 90%;
    margin: 20px auto;
}

.alert-danger {
    background-color: #f44336;
    color: white;
    font-weight: 500;
    padding: 10px;
    border: 1px solid lightgray;
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 200px;
    height: 100%;
}

mat-sidenav-content {
    height: 100%;
    background-color: white !important;
}

.mat-list-item {
    border-bottom: 1px solid lightgrey;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    height: 42px !important;
}

.pagefooter {
    height: 150px;
}