<ion-toolbar color="primary">
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-title>{{ 'SCHOLAR-ADDRESS' | translate }}</ion-title>
	<ion-buttons slot="end" color="success">
		<ion-button fill="clear" (click)="add()">
			<ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
<ion-content padding>
	<ion-card *ngFor="let scholarAddress of scholarAddresses">
		<ion-card-content style="padding: bottom 0px;">
			<h2>
				<b>{{ 'SCHOLAR-ADDRESS-ADDRESSTYPE' | translate }}:</b>&nbsp;
				{{ scholarAddress.addressType.name }}
			</h2>
			<h2>
				<b>{{ 'SCHOLAR-ADDRESS-CONTACTPERSONNAME' | translate }}:</b>&nbsp;
				{{ scholarAddress.contactPersonName }}
			</h2>
			<h2>
				<b>{{ 'SCHOLAR-ADDRESS-TELEPHONENUMBERONE' | translate }}:</b>&nbsp;
				{{ scholarAddress.telephoneNumberOne }}
			</h2>
			<h2>
				<b>{{ 'SCHOLAR-ADDRESS-HANDPHONENUMBERONE' | translate }}:</b>&nbsp;
				{{ scholarAddress.handphoneNumberOne }}
			</h2>
			<h2>
				<b>{{ 'SCHOLAR-ADDRESS-EMAILADDRESSONE' | translate }}:</b>&nbsp;
				{{ scholarAddress.emailAddressOne }}
			</h2>
			<ion-row no-padding>
				<ion-col size="4" no-padding></ion-col>
				<ion-col size="8" no-padding>
					<ion-button fill="clear" size="small" (click)="edit(scholarAddress)">
						<ion-icon name="create-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="delete(scholarAddress)">
						<ion-icon name="trash-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="print(scholarAddress)">
						<ion-icon name="print-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="showDetail(scholarAddress)">
						<ion-icon name="list-outline"></ion-icon>
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
</ion-content>