.container {
    max-width: 90%;
    margin: 20px auto;
}

.my-form {
    width:100%;
}

table {
    width:100%;
}

.mat-column-trainer {
    width:1%;
}

.mat-column-instituteName {
    width:5%;
}

.mat-column-graduationDate {
    width:1%;
}

.mat-column-qualification {
    width:1%;
}

.mat-column-instituteLocation {
    width:10%;
}

.mat-column-fieldStudy {
    width:1%;
}

.mat-column-major {
    width:10%;
}

.mat-column-grade {
    width:10%;
}

.mat-column-description {
    width:42%;
}

.mat-column-action {
    width:8%;
    text-align: center;
}

.listimage {
    max-width: 100%;
    height: auto;
}

.title-bar {
	min-height: 48px !important;
	height: 48px !important;
}