<ion-toolbar color="primary">
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-title>{{ 'TRAINER' | translate }}</ion-title>
	<ion-buttons slot="end" color="success">
		<ion-button fill="clear" (click)="add()">
			<ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
	<form [formGroup]="trainerSearchForm" *ngIf="trainerSearchForm">
		<ion-content padding>
			<span style="font-size: 12px"></span>
			<ion-item>
				<ion-label>{{ 'TRAINER-SALUTATION' | translate }}</ion-label>
				<ion-select formControlName="salutationSearchList" 
					id="salutationSearchList" name="salutationSearchList">
					<ion-select-option *ngFor="let salutation of salutations" [value]="salutation">
						{{ salutation.name }}</ion-select-option>
				</ion-select>
			</ion-item>&nbsp;&nbsp;&nbsp;&nbsp;
			<ion-item>
				<ion-label>{{ 'TRAINER-FIRSTNAME' | translate }}</ion-label>
				<input matInput formControlName="firstNameSearchText" 
					id="firstNameSearchText" name="firstNameSearchText" placeholder="{{ 'TRAINER-FIRSTNAME' | translate }}"/>
			</ion-item>&nbsp;&nbsp;&nbsp;&nbsp;
			<ion-item>
				<ion-label>{{ 'TRAINER-LASTNAME' | translate }}</ion-label>
				<input matInput formControlName="lastNameSearchText" 
					id="lastNameSearchText" name="lastNameSearchText" placeholder="{{ 'TRAINER-LASTNAME' | translate }}"/>
			</ion-item>&nbsp;&nbsp;&nbsp;&nbsp;
			<ion-item>
				<ion-label>{{ 'TRAINER-GENDER' | translate }}</ion-label>
				<ion-select formControlName="genderSearchList" 
					id="genderSearchList" name="genderSearchList">
					<ion-select-option *ngFor="let gender of genders" [value]="gender">
						{{ gender.name }}</ion-select-option>
				</ion-select>
			</ion-item>&nbsp;&nbsp;&nbsp;&nbsp;
			<ion-item>
				<ion-label>{{ 'TRAINER-CITIZEN' | translate }}</ion-label>
				<ion-select formControlName="citizenSearchList" 
					id="citizenSearchList" name="citizenSearchList">
					<ion-select-option *ngFor="let citizen of citizens" [value]="citizen">
						{{ citizen.name }}</ion-select-option>
				</ion-select>
			</ion-item>&nbsp;&nbsp;&nbsp;&nbsp;
		</ion-content>
		<ion-content padding>
			<ion-item>
				<ion-label>{{ 'TRAINER-ICNUMBER' | translate }}</ion-label>
				<input matInput formControlName="icNumberSearchText" 
					id="icNumberSearchText" name="icNumberSearchText" placeholder="{{ 'TRAINER-ICNUMBER' | translate }}"/>
			</ion-item>&nbsp;&nbsp;&nbsp;&nbsp;
			<ion-item>
				<ion-label>{{ 'TRAINER-HANDPHONENUMBER' | translate }}</ion-label>
				<input matInput formControlName="handphoneNumberSearchText" 
					id="handphoneNumberSearchText" name="handphoneNumberSearchText" placeholder="{{ 'TRAINER-HANDPHONENUMBER' | translate }}"/>
			</ion-item>&nbsp;&nbsp;&nbsp;&nbsp;
			<a mat-raised-button color="secondary" (click)="doSearch()">List</a>&nbsp;&nbsp;
		</ion-content>
	</form>
<ion-content padding>
	<ion-card *ngFor="let trainer of trainers">
		<ion-card-content style="padding: bottom 0px;">
			<h2>
				<b>{{ 'TRAINER-ICNUMBER' | translate }}:</b>&nbsp;
				{{ trainer.icNumber }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-FIRSTNAME' | translate }}:</b>&nbsp;
				{{ trainer.user.firstName }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-LASTNAME' | translate }}:</b>&nbsp;
				{{ trainer.user.lastName }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-GENDER' | translate }}:</b>&nbsp;
				{{ trainer.gender.name }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-HANDPHONENUMBER' | translate }}:</b>&nbsp;
				{{ trainer.handphoneNumber }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-EMAILADDRESS' | translate }}:</b>&nbsp;
				{{ trainer.user.emailAddress }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-STATUS' | translate }}:</b>&nbsp;
				{{ trainer.user.status.name }}
			</h2>
			<ion-row no-padding>
				<ion-col size="4" no-padding></ion-col>
				<ion-col size="8" no-padding>
					<ion-button fill="clear" size="small" (click)="edit(trainer)">
						<ion-icon name="create-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="delete(trainer)">
						<ion-icon name="trash-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="print(trainer)">
						<ion-icon name="print-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="showDetail(trainer)">
						<ion-icon name="list-outline"></ion-icon>
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
	<ion-content>
		<ion-label style="font-size: 14px;">{{ 'Showing rows ' + this.showRows }}</ion-label>
		<span class="spacer"></span>
		<ion-item>
			<ion-label>{{ 'Filter by Alphabet' | translate }}</ion-label>
			<ion-select [value]="selectedAlphabet">
				<ion-select-option *ngFor="let alphabet of alphabets" 
					[value]="alphabet">{{ alphabet }}</ion-select-option>
			</ion-select>
		</ion-item>&nbsp;&nbsp;
		<a mat-raised-button color="secondary" (click)="list()">List</a>&nbsp;&nbsp;
	</ion-content>
</ion-content>