<mat-toolbar color="secondary" class="mat-elevation-z2">
	<mat-toolbar-row>
		<button type="button" mat-icon-button (click)="back()">
			<mat-icon>keyboard_arrow_left</mat-icon>
		</button>&nbsp;&nbsp;
		<a mat-button disabled style="color: black" *ngIf="group">
			{{ group.name }}&nbsp;
		</a>
		<span class="spacer"></span>
		<a mat-button [routerLink]="['/masterdetail/groupmanagers', groupId, 'usergroupmanagers']" routerLinkActive="active">
			{{ 'USERGROUPMANAGER' | translate }}</a>
	</mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>