<mat-card class="login"  *ngIf="setupForm">
	<form [formGroup]="setupForm">
		<mat-card-header style="padding:20px">
			<div mat-card-avatar class="login-header-image"></div>
			<mat-card-title>{{ 'SETUP' | translate }}</mat-card-title>
			<mat-card-subtitle>{{ 'SETUP-MESSAGE' | translate }}</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content class="my-form">
			<mat-card-subtitle *ngIf="message" class="alert-danger">{{ message | translate }}</mat-card-subtitle>
			<mat-card-content class="my-form">
				<mat-form-field>
					<mat-label for="firstName">{{ 'FIRST-NAME' | translate }}</mat-label>
					<input matInput type="text" formControlName="firstName" id="firstName" 
						name="firstName" placeholder="First Name" 
						minlength="3" maxlength="60" required/>
					<mat-icon matPrefix style="padding-right: 20px;">person</mat-icon>
					<mat-error *ngIf="hasError('firstName', 'required')">
						{{ 'FIRST-NAME-REQ' | translate }}</mat-error>
					<mat-error *ngIf="hasError('firstName', 'minlength')">
						{{ 'FIRST-NAME-MIN' | translate }}</mat-error>
					<mat-error *ngIf="hasError('firstName', 'maxlength')">
						{{ 'FIRST-NAME-MAX' | translate }}</mat-error>
					<mat-error *ngIf="hasError('firstName', 'pattern')">
						{{ 'FIRST-NAME-ALPHA' | translate }}</mat-error>
				</mat-form-field>  
				<mat-form-field>
					<mat-label for="lastName">{{ 'LAST-NAME' | translate }}</mat-label>
					<input matInput type="text" formControlName="lastName" id="lastName" 
						name="lastName" placeholder="Last Name" 
						minlength="3" maxlength="60" required/>
					<mat-icon matPrefix style="padding-right: 20px;">person</mat-icon>
					<mat-error *ngIf="hasError('lastName', 'required')">
						{{ 'LAST-NAME-REQ' | translate }}</mat-error>
					<mat-error *ngIf="hasError('lastName', 'minlength')">
						{{ 'LAST-NAME-MIN' | translate }}</mat-error>
					<mat-error *ngIf="hasError('lastName', 'maxlength')">
						{{ 'LAST-NAME-MAX' | translate }}</mat-error>
					<mat-error *ngIf="hasError('lastName', 'pattern')">
						{{ 'LAST-NAME-ALPHA' | translate }}</mat-error>
				</mat-form-field>  
				<mat-form-field>
					<mat-label for="department">{{ 'DEPARTMENT' | translate }}</mat-label>
					<input matInput type="text" formControlName="department" id="department" 
						name="department" placeholder="Department" 
						minlength="3" maxlength="120" required/>
					<mat-icon matPrefix style="padding-right: 20px;">group</mat-icon>
					<mat-error *ngIf="hasError('department', 'required')">
						{{ 'DEPARTMENT-REQ' | translate }}</mat-error>
					<mat-error *ngIf="hasError('department', 'minlength')">
						{{ 'DEPARTMENT-MIN' | translate }}</mat-error>
					<mat-error *ngIf="hasError('department', 'maxlength')">
						{{ 'DEPARTMENT-MAX' | translate }}</mat-error>
					<mat-error *ngIf="hasError('department', 'pattern')">
						{{ 'DEPARTMENT-ALPHA' | translate }}</mat-error>
				</mat-form-field>  
				<mat-form-field>
					<mat-label for="branch">{{ 'BRANCH' | translate }}</mat-label>
					<input matInput type="text" formControlName="branch" id="branch" 
						name="branch" placeholder="Branch" 
						minlength="3" maxlength="120" required/>
					<mat-icon matPrefix style="padding-right: 20px;">location_city</mat-icon>
					<mat-error *ngIf="hasError('branch', 'required')">
						{{ 'BRANCH-REQ' | translate }}</mat-error>
					<mat-error *ngIf="hasError('branch', 'minlength')">
						{{ 'BRANCH-MIN' | translate }}</mat-error>
					<mat-error *ngIf="hasError('branch', 'maxlength')">
						{{ 'BRANCH-MAX' | translate }}</mat-error>
					<mat-error *ngIf="hasError('branch', 'pattern')">
						{{ 'BRANCH-ALPHA' | translate }}</mat-error>
				</mat-form-field>  
				<mat-form-field>
					<mat-label for="organization">{{ 'ORGANIZATION' | translate }}</mat-label>
					<input matInput type="text" formControlName="organization" id="organization" 
						name="organization" placeholder="Organization" 
						minlength="3" maxlength="120" required/>
					<mat-icon matPrefix style="padding-right: 20px;">account_balance</mat-icon>
					<mat-error *ngIf="hasError('organization', 'required')">
						{{ 'ORGANIZATION-REQ' | translate }}</mat-error>
					<mat-error *ngIf="hasError('organization', 'minlength')">
						{{ 'ORGANIZATION-MIN' | translate }}</mat-error>
					<mat-error *ngIf="hasError('organization', 'maxlength')">
						{{ 'ORGANIZATION-MAX' | translate }}</mat-error>
					<mat-error *ngIf="hasError('organization', 'pattern')">
						{{ 'ORGANIZATION-ALPHA' | translate }}</mat-error>
				</mat-form-field>
				<mat-form-field>
					<mat-label for="username">{{ 'USERNAME-EMAIL' | translate }}</mat-label>
					<input matInput type="text" formControlName="username" id="username" 
						name="username" placeholder="Username" 
						minlength="3" maxlength="120" required/>
					<mat-icon matPrefix style="padding-right: 20px;">email</mat-icon>
					<mat-error *ngIf="hasError('username', 'required')">
						{{ 'USERNAME-EMAIL-REQ' | translate }}</mat-error>
					<mat-error *ngIf="hasError('username', 'minlength')">
						{{ 'USERNAME-EMAIL-MIN' | translate }}</mat-error>
					<mat-error *ngIf="hasError('username', 'maxlength')">
						{{ 'USERNAME-EMAIL-MAX' | translate }}</mat-error>
					<mat-error *ngIf="hasError('username', 'pattern')">
						{{ 'USERNAME-EMAIL-FORMAT' | translate }}</mat-error>
				</mat-form-field>  
				<mat-form-field class="full-width">
					<mat-label for="password">{{ 'PASSWORD' | translate }}</mat-label>
					<input matInput [type]="hide ? 'password' : 'text'" 
						formControlName="password" id="password" 
						name="password" placeholder="Password"  
						minlength="5" maxlength="120" required/>
					<mat-icon matPrefix style="padding-right: 20px;">lock</mat-icon>
					<button mat-icon-button matSuffix (click)="hide = !hide"
							[attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
						<mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
					</button>
					<mat-error *ngIf="hasError('password', 'required')">
						{{ 'PASSWORD-REQ' | translate }}</mat-error>
					<mat-error *ngIf="hasError('password', 'minlength')">
						{{ 'PASSWORD-MIN' | translate }}</mat-error>
					<mat-error *ngIf="hasError('password', 'maxlength')">
						{{ 'PASSWORD-MAX' | translate }}</mat-error>
					<mat-error *ngIf="hasError('password', 'strength')">
						{{ 'PASSWORD-STRONG' | translate }}</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width">
					<mat-label for="password">{{ 'CONFIRM-PASSWORD' | translate }}</mat-label>
					<input matInput [type]="confirmhide ? 'password' : 'text'" 
						formControlName="confirmPassword" id="confirmPassword" 
						name="confirmPassword" placeholder="confirmPassword"  
						minlength="5" maxlength="120" required/>
					<mat-icon matPrefix style="padding-right: 20px;">lock</mat-icon>
					<button mat-icon-button matSuffix (click)="confirmhide = !confirmhide"
							[attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmhide">
						<mat-icon>{{ confirmhide ? 'visibility_off' : 'visibility' }}</mat-icon>
					</button>
					<mat-error *ngIf="hasError('confirmPassword', 'required')">
						{{ 'CONFIRM-PASSWORD-REQ' | translate }}</mat-error>
					<mat-error *ngIf="hasError('confirmPassword', 'minlength')">
						{{ 'CONFIRM-PASSWORD-MIN' | translate }}</mat-error>
					<mat-error *ngIf="hasError('confirmPassword', 'maxlength')">
						{{ 'CONFIRM-PASSWORD-MAX' | translate }}</mat-error>
					<mat-error *ngIf="hasError('confirmPassword', 'strength')">
						{{ 'CONFIRM-PASSWORD-STRONG' | translate }}</mat-error>
					<mat-error *ngIf="hasError('confirmPassword', 'mustmatch')">
						{{ 'CONFIRM-PASSWORD-NOTMATCH' | translate }}</mat-error>
				</mat-form-field>
			</mat-card-content>
		</mat-card-content>
		<mat-card-actions class="my-form">
			<button mat-raised-button color="primary" 
				(click)="save()">{{ 'REGISTER' | translate }}</button>
			<div style="height: 25px"></div>
		</mat-card-actions>
	</form>
</mat-card>