<ion-toolbar color="primary">
	<ion-title>{{ 'TRAINER' | translate }} - {{ 'NEW' | translate }}</ion-title>
</ion-toolbar>
<ion-content padding>
	<form [formGroup]="trainerForm" *ngIf="trainerForm">
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'TRAINER-ORGANIZATION' | translate }}</ion-label>
				<ion-select formControlName="organization" id="organization" name="organization" 
						[compareWith]="compareOrganization" required>
					<ion-select-option *ngFor="let organization of organizations" [value]="organization">
						{{ organization.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(trainerForm.controls['organization'].dirty || trainerForm.controls['organization'].touched)" class="errors">
				<div *ngIf="hasError('organization', 'required')">
					{{ 'TRAINER-ORGANIZATION' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label>{{ 'TRAINER-BRANCH' | translate }}</ion-label>
				<ion-select formControlName="branch" id="branch" name="branch" 
						[compareWith]="compareBranch" required>
					<ion-select-option *ngFor="let branch of branches" [value]="branch">
						{{ branch.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(trainerForm.controls['branch'].dirty || trainerForm.controls['branch'].touched)" class="errors">
				<div *ngIf="hasError('branch', 'required')">
					{{ 'TRAINER-BRANCH' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label>{{ 'TRAINER-DEPARTMENT' | translate }}</ion-label>
				<ion-select formControlName="department" id="department" name="department" 
						[compareWith]="compareDepartment" required>
					<ion-select-option *ngFor="let department of departments" [value]="department">
						{{ department.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(trainerForm.controls['department'].dirty || trainerForm.controls['department'].touched)" class="errors">
				<div *ngIf="hasError('department', 'required')">
					{{ 'TRAINER-DEPARTMENT' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINER-ICNUMBER' | translate }}</ion-label>
				<ion-input formControlName="icNumber" id="icNumber" name="icNumber" #icNumber
					placeholder="{{ 'TRAINER-ICNUMBER' | translate }}" maxlength="20">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainerForm.controls['icNumber'].dirty || trainerForm.controls['icNumber'].touched)" class="errors">
                <div *ngIf="hasError('icNumber', 'required')">
                    {{ 'TRAINER-ICNUMBER' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('icNumber', 'minlength')">
                    {{ 'TRAINER-ICNUMBER' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('icNumber', 'maxlength')">
                    {{ 'TRAINER-ICNUMBER' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 20</div>
                <div *ngIf="hasError('icNumber', 'unique')">
                    {{ 'TRAINER-ICNUMBER' | translate }}: {{ 'FIELD-MUSTBE-UNIQUE' | translate }} try another</div>
			</div>
			<ion-item>
				<ion-label>{{ 'TRAINER-SALUTATION' | translate }}</ion-label>
				<ion-select formControlName="salutation" id="salutation" name="salutation" 
						[compareWith]="compareSalutation" required>
					<ion-select-option *ngFor="let salutation of salutations" [value]="salutation">
						{{ salutation.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(trainerForm.controls['salutation'].dirty || trainerForm.controls['salutation'].touched)" class="errors">
				<div *ngIf="hasError('salutation', 'required')">
					{{ 'TRAINER-SALUTATION' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINER-FIRSTNAME' | translate }}</ion-label>
				<ion-input formControlName="firstName" id="firstName" name="firstName" #firstName
					placeholder="{{ 'TRAINER-FIRSTNAME' | translate }}" maxlength="60">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainerForm.controls['firstName'].dirty || trainerForm.controls['firstName'].touched)" class="errors">
                <div *ngIf="hasError('firstName', 'required')">
                    {{ 'TRAINER-FIRSTNAME' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('firstName', 'minlength')">
                    {{ 'TRAINER-FIRSTNAME' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('firstName', 'maxlength')">
                    {{ 'TRAINER-FIRSTNAME' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 60</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINER-LASTNAME' | translate }}</ion-label>
				<ion-input formControlName="lastName" id="lastName" name="lastName" #lastName
					placeholder="{{ 'TRAINER-LASTNAME' | translate }}" maxlength="60">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainerForm.controls['lastName'].dirty || trainerForm.controls['lastName'].touched)" class="errors">
                <div *ngIf="hasError('lastName', 'required')">
                    {{ 'TRAINER-LASTNAME' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('lastName', 'minlength')">
                    {{ 'TRAINER-LASTNAME' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('lastName', 'maxlength')">
                    {{ 'TRAINER-LASTNAME' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 60</div>
			</div>
			<ion-item>
				<ion-label>{{ 'TRAINER-GENDER' | translate }}</ion-label>
				<ion-select formControlName="gender" id="gender" name="gender" 
						[compareWith]="compareGender" required>
					<ion-select-option *ngFor="let gender of genders" [value]="gender">
						{{ gender.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(trainerForm.controls['gender'].dirty || trainerForm.controls['gender'].touched)" class="errors">
				<div *ngIf="hasError('gender', 'required')">
					{{ 'TRAINER-GENDER' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label>{{ 'TRAINER-CITIZEN' | translate }}</ion-label>
				<ion-select formControlName="citizen" id="citizen" name="citizen" 
						[compareWith]="compareCitizen" required>
					<ion-select-option *ngFor="let citizen of citizens" [value]="citizen">
						{{ citizen.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(trainerForm.controls['citizen'].dirty || trainerForm.controls['citizen'].touched)" class="errors">
				<div *ngIf="hasError('citizen', 'required')">
					{{ 'TRAINER-CITIZEN' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINER-HANDPHONENUMBER' | translate }}</ion-label>
				<ion-input formControlName="handphoneNumber" id="handphoneNumber" name="handphoneNumber" #handphoneNumber
					placeholder="{{ 'TRAINER-HANDPHONENUMBER' | translate }}" maxlength="20">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainerForm.controls['handphoneNumber'].dirty || trainerForm.controls['handphoneNumber'].touched)" class="errors">
                <div *ngIf="hasError('handphoneNumber', 'required')">
                    {{ 'TRAINER-HANDPHONENUMBER' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('handphoneNumber', 'minlength')">
                    {{ 'TRAINER-HANDPHONENUMBER' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('handphoneNumber', 'maxlength')">
                    {{ 'TRAINER-HANDPHONENUMBER' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 20</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINER-EMAILADDRESS' | translate }}</ion-label>
				<ion-input formControlName="emailAddress" id="emailAddress" name="emailAddress" #emailAddress
					placeholder="{{ 'TRAINER-EMAILADDRESS' | translate }}" maxlength="120">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainerForm.controls['emailAddress'].dirty || trainerForm.controls['emailAddress'].touched)" class="errors">
                <div *ngIf="hasError('emailAddress', 'required')">
                    {{ 'TRAINER-EMAILADDRESS' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('emailAddress', 'minlength')">
                    {{ 'TRAINER-EMAILADDRESS' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 3</div>
                <div *ngIf="hasError('emailAddress', 'maxlength')">
                    {{ 'TRAINER-EMAILADDRESS' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 120</div>
                <div *ngIf="hasError('emailAddress', 'pattern')">
                    {{ 'TRAINER-EMAILADDRESS' | translate }}: {{ 'FIELD-MUSTBE-PATTERN' | translate }} email</div>
                <div *ngIf="hasError('emailAddress', 'unique')">
                    {{ 'TRAINER-EMAILADDRESS' | translate }}: {{ 'FIELD-MUSTBE-UNIQUE' | translate }} try another</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINER-PASSWORD' | translate }}</ion-label>
				<ion-input formControlName="password" id="password" name="password" #password
					placeholder="{{ 'TRAINER-PASSWORD' | translate }}" maxlength="120">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainerForm.controls['password'].dirty || trainerForm.controls['password'].touched)" class="errors">
                <div *ngIf="hasError('password', 'required')">
                    {{ 'TRAINER-PASSWORD' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('password', 'minlength')">
                    {{ 'TRAINER-PASSWORD' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 5</div>
                <div *ngIf="hasError('password', 'maxlength')">
                    {{ 'TRAINER-PASSWORD' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 120</div>
                <div *ngIf="hasError('password', 'mustmatch')">
                    {{ 'TRAINER-PASSWORD' | translate }}: {{ 'FIELD-MUSTBE-MATCH' | translate }} true</div>
                <div *ngIf="hasError('password', 'strength')">
                    {{ 'TRAINER-PASSWORD' | translate }}: {{ 'PASSWORD-STRONG' | translate }} true</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINER-NUMLOGINS' | translate }}</ion-label>
                <ion-input formControlName="numLogins" id="numLogins" name="numLogins" #numLogins
					placeholder="{{ 'TRAINER-NUMLOGINS' | translate }}" min="0" max="2000">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainerForm.controls['numLogins'].dirty || trainerForm.controls['numLogins'].touched)" class="errors">
                <div *ngIf="hasError('numLogins', 'min')">
                    {{ 'TRAINER-NUMLOGINS' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM' | translate }} 0</div>
                <div *ngIf="hasError('numLogins', 'max')">
                    {{ 'TRAINER-NUMLOGINS' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM' | translate }} 2000</div>
				<div *ngIf="hasError('numLogins', 'pattern')">
					{{ 'TRAINER-NUMLOGINS' | translate }}: {{ 'FIELD-MUSTBE-NUMERIC' | translate }}</div>
			</div>
			<ion-item>
				<ion-label>{{ 'TRAINER-LASTLOGINTIME' | translate }}</ion-label>
				<ion-datetime displayFormat="DD/MM/YYYY" 
					formControlName="lastLoginTime" placeholder="{{ 'TRAINER-LASTLOGINTIME' | translate }}">
				</ion-datetime>
			</ion-item>
			<div *ngIf="(trainerForm.controls['lastLoginTime'].dirty || trainerForm.controls['lastLoginTime'].touched)" class="errors">
                <div *ngIf="hasError('lastLoginTime', 'min')">
                    {{ 'TRAINER-LASTLOGINTIME' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM' | translate }} 0</div>
                <div *ngIf="hasError('lastLoginTime', 'max')">
                    {{ 'TRAINER-LASTLOGINTIME' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM' | translate }} 2000</div>
			</div>
			<ion-item>
				<ion-label>{{ 'TRAINER-STATUS' | translate }}</ion-label>
				<ion-select formControlName="status" id="status" name="status" 
						[compareWith]="compareStatus" required>
					<ion-select-option *ngFor="let status of statuses" [value]="status">
						{{ status.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(trainerForm.controls['status'].dirty || trainerForm.controls['status'].touched)" class="errors">
				<div *ngIf="hasError('status', 'required')">
					{{ 'TRAINER-STATUS' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
		</ion-card-content>
		<ion-footer>
			<ion-toolbar color="light" style="padding-left: 20px;">
			<ion-button color="primary" (click)="save(trainerForm.value)" 
				[disabled]="!trainerForm.valid">{{ 'SAVE' | translate }}</ion-button>
			<ion-button type="button" color="medium"
				(click)="onCancel()">{{ 'CANCEL' | translate }}</ion-button>
			</ion-toolbar>
		</ion-footer>
    </form>
</ion-content>