<mat-toolbar color="secondary" class="mat-elevation-z2 title-bar">
	<mat-toolbar-row>
		<a mat-button disabled style="color: black">{{ 'TRAINER-ADDRESS' | translate }}</a>
		<span class="spacer"></span>
		<a mat-raised-button color="accent" (click)="add()">{{ 'NEW' | translate }}</a>
	</mat-toolbar-row>
</mat-toolbar>
<div class="container mat-elevation-z2" *ngFor="let trainerAddress of trainerAddresses">
	<mat-card>
		<mat-card-header> 
			<mat-card-title>
				{{ 'TRAINER-ADDRESS' | translate }}
				<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="edit(trainerAddress)">
						<mat-icon color="accent">edit</mat-icon><span>Edit</span>
					</button>
					<button mat-menu-item (click)="delete(trainerAddress)">
						<mat-icon color="warn">delete</mat-icon><span>Delete</span>
					</button>
					<button mat-menu-item (click)="print(trainerAddress)">
						<mat-icon color="accent">print</mat-icon><span>Print</span>
					</button>
				</mat-menu>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content class="dashboard-card-content">
			<table>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-ADDRESSTYPE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.addressType.name }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-CONTACTPERSONNAME' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.contactPersonName }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-ADDRESSLINEONE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.addressLineOne }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-ADDRESSLINETWO' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.addressLineTwo }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-POSTCODE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.postcode }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-COUNTRY' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.country.name }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-STATE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.state.name }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-DISTRICT' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.district }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-CITY' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.city }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-TELEPHONENUMBERONE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.telephoneNumberOne }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-HANDPHONENUMBERONE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.handphoneNumberOne }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-EMAILADDRESSONE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.emailAddressOne }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-WEBSITEADDRESS' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.websiteAddress }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-LATITUDE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.latitude }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-LONGITUDE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.longitude }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-LOCATIONMAP' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.locationMap }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-ADDRESS-PREMISEPHOTO' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerAddress.premisePhoto }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</mat-card-content>
	</mat-card>
</div>