.container {
    max-width: 90%;
    margin: 20px auto;
}

.my-form {
    width:100%;
}

table {
    width:100%;
}

.mat-header-cell {
    padding:15px 10px 8px 8px;
    font-size:16px;
    white-space: nowrap;
}

.mat-column-trainer {
    width:10%;
}

.mat-column-addressType {
    width:10%;
}

.mat-column-contactPersonName {
    width:10%;
}

.mat-column-addressLineOne {
    width:10%;
}

.mat-column-addressLineTwo {
    width:10%;
}

.mat-column-postcode {
    width:10%;
}

.mat-column-country {
    width:10%;
}

.mat-column-state {
    width:10%;
}

.mat-column-district {
    width:10%;
}

.mat-column-city {
    width:10%;
}

.mat-column-telephoneNumberOne {
    width:10%;
}

.mat-column-handphoneNumberOne {
    width:10%;
}

.mat-column-emailAddressOne {
    width:10%;
}

.mat-column-websiteAddress {
    width:10%;
}

.mat-column-latitude {
    width:10%;
}

.mat-column-longitude {
    width:10%;
}

.mat-column-locationMap {
    width:10%;
}

.mat-column-premisePhoto {
    width:10%;
}

.mat-column-update {
    width:10%;
    text-align: center;
}

.mat-column-delete {
    width:10%;
    text-align: center;
}

.more-button {
	position: absolute;
	top: 5px;
	right: 10px;
}

.dashboard-card-content {
    padding-left: 50px;
    padding-right: 50px;
}

.title-bar {
	min-height: 48px !important;
	height: 48px !important;
}

.mat-toolbar {
	min-height: 48px !important;
    height: 48px !important;
    background-color: #eaecfb;
}

.mat-toolbar-row {
	min-height: 48px !important;
    height: 48px !important;
    background-color: #eaecfb;
}