<ion-toolbar color="primary">
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-title>{{ 'TRAINER-OCCUPATION' | translate }}</ion-title>
	<ion-buttons slot="end" color="success">
		<ion-button fill="clear" (click)="add()">
			<ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
<ion-content padding>
	<ion-card *ngFor="let trainerOccupation of trainerOccupations">
		<ion-card-content style="padding: bottom 0px;">
			<h2>
				<b>{{ 'TRAINER-OCCUPATION-TRAINER' | translate }}:</b>&nbsp;
				{{ trainerOccupation.trainer.user.firstName }} {{ trainerOccupation.trainer.user.lastName }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-OCCUPATION-POSITIONTITLE' | translate }}:</b>&nbsp;
				{{ trainerOccupation.positionTitle }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-OCCUPATION-COMPANYNAME' | translate }}:</b>&nbsp;
				{{ trainerOccupation.companyName }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-OCCUPATION-STARTDATE' | translate }}:</b>&nbsp;
				{{ trainerOccupation.startDate | date }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-OCCUPATION-ENDDATE' | translate }}:</b>&nbsp;
				{{ trainerOccupation.endDate | date }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-OCCUPATION-SPECIALIZATION' | translate }}:</b>&nbsp;
				{{ trainerOccupation.specialization }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-OCCUPATION-JOBROLE' | translate }}:</b>&nbsp;
				{{ trainerOccupation.jobRole }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-OCCUPATION-INDUSTRY' | translate }}:</b>&nbsp;
				{{ trainerOccupation.industry }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-OCCUPATION-POSITIONLEVEL' | translate }}:</b>&nbsp;
				{{ trainerOccupation.positionLevel.name }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-OCCUPATION-SALARY' | translate }}:</b>&nbsp;
				{{ trainerOccupation.salary }}
			</h2>
			<ion-row no-padding>
				<ion-col size="4" no-padding></ion-col>
				<ion-col size="8" no-padding>
					<ion-button fill="clear" size="small" (click)="edit(trainerOccupation)">
						<ion-icon name="create-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="delete(trainerOccupation)">
						<ion-icon name="trash-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="print(trainerOccupation)">
						<ion-icon name="print-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="showDetail(trainerOccupation)">
						<ion-icon name="list-outline"></ion-icon>
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
</ion-content>