<mat-toolbar color="secondary" class="mat-elevation-z2 title-bar">
	<mat-toolbar-row>
		<a mat-button disabled style="color: black">{{ 'FIELD-STUDY' | translate }}</a>
		<span class="spacer"></span>
		<a mat-raised-button color="accent" (click)="add()">{{ 'NEW' | translate }}</a>
	</mat-toolbar-row>
</mat-toolbar>
<div class="container mat-elevation-z2">
	<mat-card-subtitle *ngIf="errorMessage" class="alert-danger">{{ errorMessage }}</mat-card-subtitle>
	<table mat-table [dataSource]="fieldStudies">
		<ng-container matColumnDef="sequence">
			<th mat-header-cell *matHeaderCellDef>{{ 'FIELD-STUDY-SEQUENCE' | translate }}</th>
			<td mat-cell *matCellDef="let element">
				<span class="mat-subheading-1">{{ element.sequence }}</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="code">
			<th mat-header-cell *matHeaderCellDef>{{ 'FIELD-STUDY-CODE' | translate }}</th>
			<td mat-cell *matCellDef="let element">
				<span class="mat-subheading-1">{{ element.code }}</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>{{ 'FIELD-STUDY-NAME' | translate }}</th>
			<td mat-cell *matCellDef="let element">
				<span class="mat-subheading-1">{{ element.name }}</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="byDefault">
			<th mat-header-cell *matHeaderCellDef>{{ 'FIELD-STUDY-BYDEFAULT' | translate }}</th>
			<td mat-cell *matCellDef="let element">
				<span class="mat-subheading-1">{{ element.byDefault }}</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let element" style="text-align:center">
				<button mat-icon-button [matMenuTriggerFor]="menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="edit(element)">
						<mat-icon color="accent">edit</mat-icon><span>Edit</span>
					</button>
					<button mat-menu-item (click)="delete(element)">
						<mat-icon color="warn">delete</mat-icon><span>Delete</span>
					</button>
					<button mat-menu-item (click)="print(element)">
						<mat-icon color="accent">print</mat-icon><span>Print</span>
					</button>
				</mat-menu>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="columnCaptions"></tr>
		<tr mat-row *matRowDef="let row; columns:columnCaptions"></tr>
	</table>
</div>