<ion-toolbar color="primary">
	<ion-title>{{ 'STATE' | translate }} - {{ 'NEW' | translate }}</ion-title>
</ion-toolbar>
<ion-content padding>
	<form [formGroup]="stateForm" *ngIf="stateForm">
		<ion-card-content>
			<ion-item>
				<ion-label position="floating">{{ 'STATE-SEQUENCE' | translate }}</ion-label>
                <ion-input formControlName="sequence" id="sequence" name="sequence" #sequence
					placeholder="{{ 'STATE-SEQUENCE' | translate }}" min="1" max="20">
				</ion-input>
			</ion-item>
			<div *ngIf="(stateForm.controls['sequence'].dirty || stateForm.controls['sequence'].touched)" class="errors">
                <div *ngIf="hasError('sequence', 'required')">
                    {{ 'STATE-SEQUENCE' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('sequence', 'min')">
                    {{ 'STATE-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM' | translate }} 1</div>
                <div *ngIf="hasError('sequence', 'max')">
                    {{ 'STATE-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM' | translate }} 20</div>
				<div *ngIf="hasError('sequence', 'pattern')">
					{{ 'STATE-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-NUMERIC' | translate }}</div>
			</div>
			<ion-item>
				<ion-label>{{ 'STATE-COUNTRY' | translate }}</ion-label>
				<ion-select formControlName="country" id="country" name="country" 
						[compareWith]="compareCountry" required>
					<ion-select-option *ngFor="let country of countries" [value]="country">
						{{ country.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<div *ngIf="(stateForm.controls['country'].dirty || stateForm.controls['country'].touched)" class="errors">
				<div *ngIf="hasError('country', 'required')">
					{{ 'STATE-COUNTRY' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'STATE-CODE' | translate }}</ion-label>
				<ion-input formControlName="code" id="code" name="code" #code
					placeholder="{{ 'STATE-CODE' | translate }}" maxlength="10">
				</ion-input>
			</ion-item>
			<div *ngIf="(stateForm.controls['code'].dirty || stateForm.controls['code'].touched)" class="errors">
                <div *ngIf="hasError('code', 'required')">
                    {{ 'STATE-CODE' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('code', 'minlength')">
                    {{ 'STATE-CODE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('code', 'maxlength')">
                    {{ 'STATE-CODE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 10</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'STATE-NAME' | translate }}</ion-label>
				<ion-input formControlName="name" id="name" name="name" #name
					placeholder="{{ 'STATE-NAME' | translate }}" maxlength="60">
				</ion-input>
			</ion-item>
			<div *ngIf="(stateForm.controls['name'].dirty || stateForm.controls['name'].touched)" class="errors">
                <div *ngIf="hasError('name', 'required')">
                    {{ 'STATE-NAME' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('name', 'minlength')">
                    {{ 'STATE-NAME' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('name', 'maxlength')">
                    {{ 'STATE-NAME' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 60</div>
			</div>
			<ion-item>
				<ion-checkbox formControlName="byDefault" id="byDefault" color="danger"></ion-checkbox>&nbsp;&nbsp;&nbsp;
				<ion-label>{{ 'STATE-BYDEFAULT' | translate }}</ion-label>
			</ion-item>
		</ion-card-content>
		<ion-footer>
			<ion-toolbar color="light" style="padding-left: 20px;">
			<ion-button color="primary" (click)="save(stateForm.value)" 
				[disabled]="!stateForm.valid">{{ 'SAVE' | translate }}</ion-button>
			<ion-button type="button" color="medium"
				(click)="onCancel()">{{ 'CANCEL' | translate }}</ion-button>
			</ion-toolbar>
		</ion-footer>
	</form>
</ion-content>