.container {
    max-width: 90%;
    margin: 20px auto;
}

.my-form {
    width:100%;
}

table {
    width:100%;
}

.mat-column-scholar {
    width:1%;
}

.mat-column-positionTitle {
    width:4%;
}

.mat-column-companyName {
    width:4%;
}

.mat-column-startDate {
    width:1%;
}

.mat-column-endDate {
    width:1%;
}

.mat-column-specialization {
    width:10%;
}

.mat-column-jobRole {
    width:10%;
}

.mat-column-industry {
    width:10%;
}

.mat-column-positionLevel {
    width:1%;
}

.mat-column-salary {
    width:8%;
}

.mat-column-description {
    width:33%;
}

.mat-column-action {
    width:8%;
    text-align: center;
}

.listimage {
    max-width: 100%;
    height: auto;
}

.title-bar {
	min-height: 48px !important;
	height: 48px !important;
}