<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="trainers">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'TRAINER' | translate }}</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="trainerdetails">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'TRAINER-DETAIL' | translate }}</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="traineraddresses">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'TRAINER-ADDRESS' | translate }}</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="trainerfamilies">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'TRAINER-FAMILY' | translate }}</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="trainereducationdetails">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'TRAINER-EDUCATION-DETAIL' | translate }}</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="traineroccupations">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'TRAINER-OCCUPATION' | translate }}</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>