<ion-content>
	<button type="button" mat-icon-button (click)="back()">
		<ion-icon>keyboard_arrow_left</ion-icon>
	</button>&nbsp;&nbsp;
	<a mat-button disabled style="color: black" *ngIf="trainer">
			{{ trainer.user.firstName }}&nbsp;
			{{ trainer.user.lastName }}&nbsp;
	</a>
	<span class="spacer"></span>
		<a mat-button [routerLink]="['/masterdetail/trainermanagers', trainerId, 'trainerdetailmanagers']" routerLinkActive="active">
			{{ 'TRAINERDETAILMANAGER' | translate }}</a>
		<a mat-button [routerLink]="['/masterdetail/trainermanagers', trainerId, 'traineraddressmanagers']" routerLinkActive="active">
			{{ 'TRAINERADDRESSMANAGER' | translate }}</a>
		<a mat-button [routerLink]="['/masterdetail/trainermanagers', trainerId, 'trainerfamilymanagers']" routerLinkActive="active">
			{{ 'TRAINERFAMILYMANAGER' | translate }}</a>
		<a mat-button [routerLink]="['/masterdetail/trainermanagers', trainerId, 'trainereducationdetailmanagers']" routerLinkActive="active">
			{{ 'TRAINEREDUCATIONDETAILMANAGER' | translate }}</a>
		<a mat-button [routerLink]="['/masterdetail/trainermanagers', trainerId, 'traineroccupationmanagers']" routerLinkActive="active">
			{{ 'TRAINEROCCUPATIONMANAGER' | translate }}</a>
</ion-content>