<h2 mat-dialog-title>{{ 'SCHOLAR-ADDRESS' | translate }} - {{ 'NEW' | translate }}</h2>
<mat-dialog-content>
	<form [formGroup]="scholarAddressForm" *ngIf="scholarAddressForm">
		<mat-card-subtitle *ngIf="errorMessage" class="alert-danger">{{ errorMessage }}</mat-card-subtitle>
		<mat-card-content class="my-form">
			<mat-form-field>
				<mat-label>{{ 'SCHOLAR-ADDRESS-ADDRESSTYPE' | translate }}</mat-label>
				<mat-select formControlName="addressType" id="addressType" name="addressType" 
						[compareWith]="compareAddressType" required>
				    <mat-option *ngFor="let addressType of addressTypes" [value]="addressType">
				    	{{ addressType.name }}</mat-option>
				</mat-select>
				<mat-error *ngIf="hasError('addressType', 'required')">
					{{ 'SCHOLAR-ADDRESS-ADDRESSTYPE' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="contactPersonName" id="contactPersonName" 
					name="contactPersonName" placeholder="{{ 'SCHOLAR-ADDRESS-CONTACTPERSONNAME' | translate }}" 
					minlength="1" maxlength="60" />
                <mat-error *ngIf="hasError('contactPersonName', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-CONTACTPERSONNAME' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('contactPersonName', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-CONTACTPERSONNAME' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 60</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="addressLineOne" id="addressLineOne" 
					name="addressLineOne" placeholder="{{ 'SCHOLAR-ADDRESS-ADDRESSLINEONE' | translate }}" 
					minlength="1" maxlength="200" required />
                <mat-error *ngIf="hasError('addressLineOne', 'required')">
                    {{ 'SCHOLAR-ADDRESS-ADDRESSLINEONE' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</mat-error>
                <mat-error *ngIf="hasError('addressLineOne', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-ADDRESSLINEONE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('addressLineOne', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-ADDRESSLINEONE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 200</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="addressLineTwo" id="addressLineTwo" 
					name="addressLineTwo" placeholder="{{ 'SCHOLAR-ADDRESS-ADDRESSLINETWO' | translate }}" 
					minlength="1" maxlength="200" />
                <mat-error *ngIf="hasError('addressLineTwo', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-ADDRESSLINETWO' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('addressLineTwo', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-ADDRESSLINETWO' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 200</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="postcode" id="postcode" 
					name="postcode" placeholder="{{ 'SCHOLAR-ADDRESS-POSTCODE' | translate }}" 
					minlength="1" maxlength="10" />
                <mat-error *ngIf="hasError('postcode', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-POSTCODE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('postcode', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-POSTCODE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 10</mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>{{ 'SCHOLAR-ADDRESS-COUNTRY' | translate }}</mat-label>
				<mat-select formControlName="country" id="country" name="country" 
						[compareWith]="compareCountry" required>
				    <mat-option *ngFor="let country of countries" [value]="country">
				    	{{ country.name }}</mat-option>
				</mat-select>
				<mat-error *ngIf="hasError('country', 'required')">
					{{ 'SCHOLAR-ADDRESS-COUNTRY' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</mat-error>
			</mat-form-field>
			<mat-form-field>
				<mat-label>{{ 'SCHOLAR-ADDRESS-STATE' | translate }}</mat-label>
				<mat-select formControlName="state" id="state" name="state" 
						[compareWith]="compareState" required>
				    <mat-option *ngFor="let state of states" [value]="state">
				    	{{ state.name }}</mat-option>
				</mat-select>
				<mat-error *ngIf="hasError('state', 'required')">
					{{ 'SCHOLAR-ADDRESS-STATE' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="district" id="district" 
					name="district" placeholder="{{ 'SCHOLAR-ADDRESS-DISTRICT' | translate }}" 
					minlength="1" maxlength="60" />
                <mat-error *ngIf="hasError('district', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-DISTRICT' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('district', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-DISTRICT' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 60</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="city" id="city" 
					name="city" placeholder="{{ 'SCHOLAR-ADDRESS-CITY' | translate }}" 
					minlength="1" maxlength="60" />
                <mat-error *ngIf="hasError('city', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-CITY' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('city', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-CITY' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 60</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="telephoneNumberOne" id="telephoneNumberOne" 
					name="telephoneNumberOne" placeholder="{{ 'SCHOLAR-ADDRESS-TELEPHONENUMBERONE' | translate }}" 
					minlength="1" maxlength="20" />
                <mat-error *ngIf="hasError('telephoneNumberOne', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-TELEPHONENUMBERONE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('telephoneNumberOne', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-TELEPHONENUMBERONE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 20</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="handphoneNumberOne" id="handphoneNumberOne" 
					name="handphoneNumberOne" placeholder="{{ 'SCHOLAR-ADDRESS-HANDPHONENUMBERONE' | translate }}" 
					minlength="1" maxlength="20" />
                <mat-error *ngIf="hasError('handphoneNumberOne', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-HANDPHONENUMBERONE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('handphoneNumberOne', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-HANDPHONENUMBERONE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 20</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="emailAddressOne" id="emailAddressOne" 
					name="emailAddressOne" placeholder="{{ 'SCHOLAR-ADDRESS-EMAILADDRESSONE' | translate }}" 
					minlength="1" maxlength="120" />
                <mat-error *ngIf="hasError('emailAddressOne', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-EMAILADDRESSONE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('emailAddressOne', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-EMAILADDRESSONE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 120</mat-error>
                <mat-error *ngIf="hasError('emailAddressOne', 'pattern')">
					{{ 'SCHOLAR-ADDRESS-EMAILADDRESSONE' | translate }}: {{ 'FIELD-MUSTBE-PATTERN' | translate }} email</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="websiteAddress" id="websiteAddress" 
					name="websiteAddress" placeholder="{{ 'SCHOLAR-ADDRESS-WEBSITEADDRESS' | translate }}" 
					minlength="1" maxlength="120" />
                <mat-error *ngIf="hasError('websiteAddress', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-WEBSITEADDRESS' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('websiteAddress', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-WEBSITEADDRESS' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 120</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="latitude" id="latitude" 
					name="latitude" placeholder="{{ 'SCHOLAR-ADDRESS-LATITUDE' | translate }}" 
					minlength="1" maxlength="50" />
                <mat-error *ngIf="hasError('latitude', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-LATITUDE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('latitude', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-LATITUDE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 50</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="longitude" id="longitude" 
					name="longitude" placeholder="{{ 'SCHOLAR-ADDRESS-LONGITUDE' | translate }}" 
					minlength="1" maxlength="50" />
                <mat-error *ngIf="hasError('longitude', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-LONGITUDE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('longitude', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-LONGITUDE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 50</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="locationMap" id="locationMap" 
					name="locationMap" placeholder="{{ 'SCHOLAR-ADDRESS-LOCATIONMAP' | translate }}" 
					minlength="1" maxlength="50" />
                <mat-error *ngIf="hasError('locationMap', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-LOCATIONMAP' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('locationMap', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-LOCATIONMAP' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 50</mat-error>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" formControlName="premisePhoto" id="premisePhoto" 
					name="premisePhoto" placeholder="{{ 'SCHOLAR-ADDRESS-PREMISEPHOTO' | translate }}" 
					minlength="1" maxlength="50" />
                <mat-error *ngIf="hasError('premisePhoto', 'minlength')">
                    {{ 'SCHOLAR-ADDRESS-PREMISEPHOTO' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</mat-error>
                <mat-error *ngIf="hasError('premisePhoto', 'maxlength')">
                    {{ 'SCHOLAR-ADDRESS-PREMISEPHOTO' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 50</mat-error>
			</mat-form-field>
        </mat-card-content>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="save(scholarAddressForm.value)" 
        [disabled]="!scholarAddressForm.valid">{{ 'SAVE' | translate }}</button>
    <button type="button" mat-raised-button color="warn"
        (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
</mat-dialog-actions>