<ion-toolbar color="primary">
	<ion-title>{{ 'TRAINING-DELIVERY' | translate }} - {{ 'NEW' | translate }}</ion-title>
</ion-toolbar>
<ion-content padding>
	<form [formGroup]="trainingDeliveryForm" *ngIf="trainingDeliveryForm">
		<ion-card-content>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINING-DELIVERY-SEQUENCE' | translate }}</ion-label>
                <ion-input formControlName="sequence" id="sequence" name="sequence" #sequence
					placeholder="{{ 'TRAINING-DELIVERY-SEQUENCE' | translate }}" min="1" max="2000">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainingDeliveryForm.controls['sequence'].dirty || trainingDeliveryForm.controls['sequence'].touched)" class="errors">
                <div *ngIf="hasError('sequence', 'required')">
                    {{ 'TRAINING-DELIVERY-SEQUENCE' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('sequence', 'min')">
                    {{ 'TRAINING-DELIVERY-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM' | translate }} 1</div>
                <div *ngIf="hasError('sequence', 'max')">
                    {{ 'TRAINING-DELIVERY-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM' | translate }} 2000</div>
				<div *ngIf="hasError('sequence', 'pattern')">
					{{ 'TRAINING-DELIVERY-SEQUENCE' | translate }}: {{ 'FIELD-MUSTBE-NUMERIC' | translate }}</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINING-DELIVERY-NAME' | translate }}</ion-label>
				<ion-input formControlName="name" id="name" name="name" #name
					placeholder="{{ 'TRAINING-DELIVERY-NAME' | translate }}" maxlength="60">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainingDeliveryForm.controls['name'].dirty || trainingDeliveryForm.controls['name'].touched)" class="errors">
                <div *ngIf="hasError('name', 'required')">
                    {{ 'TRAINING-DELIVERY-NAME' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('name', 'minlength')">
                    {{ 'TRAINING-DELIVERY-NAME' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('name', 'maxlength')">
                    {{ 'TRAINING-DELIVERY-NAME' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 60</div>
			</div>
			<ion-item>
				<ion-label position="floating">{{ 'TRAINING-DELIVERY-DESCRIPTION' | translate }}</ion-label>
				<ion-input formControlName="description" id="description" name="description" #description
					placeholder="{{ 'TRAINING-DELIVERY-DESCRIPTION' | translate }}" maxlength="250">
				</ion-input>
			</ion-item>
			<div *ngIf="(trainingDeliveryForm.controls['description'].dirty || trainingDeliveryForm.controls['description'].touched)" class="errors">
                <div *ngIf="hasError('description', 'required')">
                    {{ 'TRAINING-DELIVERY-DESCRIPTION' | translate }}: {{ 'FIELD-IS-REQUIRED' | translate }}</div>
                <div *ngIf="hasError('description', 'minlength')">
                    {{ 'TRAINING-DELIVERY-DESCRIPTION' | translate }}: {{ 'FIELD-MUSTBE-MINIMUM-LENGTH' | translate }} 1</div>
                <div *ngIf="hasError('description', 'maxlength')">
                    {{ 'TRAINING-DELIVERY-DESCRIPTION' | translate }}: {{ 'FIELD-MUSTBE-MAXIMUM-LENGTH' | translate }} 250</div>
			</div>
			<ion-item>
				<ion-checkbox formControlName="byDefault" id="byDefault" color="danger"></ion-checkbox>&nbsp;&nbsp;&nbsp;
				<ion-label>{{ 'TRAINING-DELIVERY-BYDEFAULT' | translate }}</ion-label>
			</ion-item>
		</ion-card-content>
		<ion-footer>
			<ion-toolbar color="light" style="padding-left: 20px;">
			<ion-button color="primary" (click)="save(trainingDeliveryForm.value)" 
				[disabled]="!trainingDeliveryForm.valid">{{ 'SAVE' | translate }}</ion-button>
			<ion-button type="button" color="medium"
				(click)="onCancel()">{{ 'CANCEL' | translate }}</ion-button>
			</ion-toolbar>
		</ion-footer>
	</form>
</ion-content>