<mat-toolbar color="secondary" class="mat-elevation-z2 title-bar">
	<mat-toolbar-row>
		<a mat-button disabled style="color: black">{{ 'TRAINER-OCCUPATION' | translate }}</a>
		<span class="spacer"></span>
		<a mat-raised-button color="accent" (click)="add()">{{ 'NEW' | translate }}</a>
	</mat-toolbar-row>
</mat-toolbar>
<div class="container mat-elevation-z2" *ngFor="let trainerOccupation of trainerOccupations">
	<mat-card>
		<mat-card-header> 
			<mat-card-title>
				{{ 'TRAINER-OCCUPATION' | translate }}
				<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="edit(trainerOccupation)">
						<mat-icon color="accent">edit</mat-icon><span>Edit</span>
					</button>
					<button mat-menu-item (click)="delete(trainerOccupation)">
						<mat-icon color="warn">delete</mat-icon><span>Delete</span>
					</button>
					<button mat-menu-item (click)="print(trainerOccupation)">
						<mat-icon color="accent">print</mat-icon><span>Print</span>
					</button>
				</mat-menu>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content class="dashboard-card-content">
			<table>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-OCCUPATION-POSITIONTITLE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerOccupation.positionTitle }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-OCCUPATION-COMPANYNAME' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerOccupation.companyName }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-OCCUPATION-STARTDATE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerOccupation.startDate | date }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-OCCUPATION-ENDDATE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerOccupation.endDate | date }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-OCCUPATION-SPECIALIZATION' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerOccupation.specialization }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-OCCUPATION-JOBROLE' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerOccupation.jobRole }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-OCCUPATION-INDUSTRY' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerOccupation.industry }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-OCCUPATION-POSITIONLEVEL' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerOccupation.positionLevel.name }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-OCCUPATION-SALARY' | translate }}</span></td>
					<td><span class="mat-subheading-1">{{ trainerOccupation.salary }}</span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><span class="mat-subheading-1">{{ 'TRAINER-OCCUPATION-DESCRIPTION' | translate }}</span></td>
					<td><span class="mat-subheading-1" [innerHTML]="trainerOccupation.description"></span></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</mat-card-content>
	</mat-card>
</div>