<ion-toolbar color="primary">
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-title>{{ 'SCHOLAR-FAMILY' | translate }}</ion-title>
	<ion-buttons slot="end" color="success">
		<ion-button fill="clear" (click)="add()">
			<ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
<ion-content padding>
	<ion-card *ngFor="let scholarFamily of scholarFamilies">
		<ion-card-content style="padding: bottom 0px;">
			<ion-list lines="none">
				<ion-item>
					<ion-label>{{ 'SCHOLAR-FAMILY-RELATIONTYPE' | translate }}: </ion-label>
					<ion-text>{{ scholarFamily.relationType.name }}</ion-text>
				</ion-item>
				<ion-item>
					<ion-label>{{ 'SCHOLAR-FAMILY-NAME' | translate }}: </ion-label>
					<ion-text>{{ scholarFamily.name }}</ion-text>
				</ion-item>
				<ion-item>
					<ion-label>{{ 'SCHOLAR-FAMILY-OCCUPATION' | translate }}: </ion-label>
					<ion-text>{{ scholarFamily.occupation }}</ion-text>
				</ion-item>
				<ion-item>
					<ion-label>{{ 'SCHOLAR-FAMILY-CITIZEN' | translate }}: </ion-label>
					<ion-text>{{ scholarFamily.citizen.name }}</ion-text>
				</ion-item>
				<ion-item>
					<ion-label>{{ 'SCHOLAR-FAMILY-NRICNUMBER' | translate }}: </ion-label>
					<ion-text>{{ scholarFamily.nricNumber }}</ion-text>
				</ion-item>
				<ion-item>
					<ion-label>{{ 'SCHOLAR-FAMILY-EMAIL' | translate }}: </ion-label>
					<ion-text>{{ scholarFamily.email }}</ion-text>
				</ion-item>
				<ion-item>
					<ion-label>{{ 'SCHOLAR-FAMILY-PHONE' | translate }}: </ion-label>
					<ion-text>{{ scholarFamily.phone }}</ion-text>
				</ion-item>
			</ion-list>
			<ion-row no-padding>
				<ion-col col-12 no-padding style="text-align: center">
					<ion-chip color="dark" button (click)="edit(scholarFamily)">
						<ion-icon name="create-outline"></ion-icon>
						<ion-label>Edit</ion-label>
					</ion-chip>
					<ion-chip color="dark" button (click)="delete(scholarFamily)">
						<ion-icon name="trash-outline"></ion-icon>
						<ion-label>Delete</ion-label>
					</ion-chip>
					<ion-chip color="dark" button (click)="print(scholarFamily)">
						<ion-icon name="print-outline"></ion-icon>
						<ion-label>Print</ion-label>
					</ion-chip>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
</ion-content>