<nav mat-tab-nav-bar>
	<a mat-tab-link [routerLink]="['/trainerprofile/trainerprofilemenu', 'trainers']" 
		routerLinkActive #rlatrainers="routerLinkActive" [active]="rlatrainers.isActive">
		{{ 'TRAINER' | translate }}</a>
	<a mat-tab-link [routerLink]="['/trainerprofile/trainerprofilemenu', 'trainerdetails']" 
		routerLinkActive #rlatrainerdetails="routerLinkActive" [active]="rlatrainerdetails.isActive">
		{{ 'TRAINER-DETAIL' | translate }}</a>
	<a mat-tab-link [routerLink]="['/trainerprofile/trainerprofilemenu', 'traineraddresses']" 
		routerLinkActive #rlatraineraddresses="routerLinkActive" [active]="rlatraineraddresses.isActive">
		{{ 'TRAINER-ADDRESS' | translate }}</a>
	<a mat-tab-link [routerLink]="['/trainerprofile/trainerprofilemenu', 'trainerfamilies']" 
		routerLinkActive #rlatrainerfamilies="routerLinkActive" [active]="rlatrainerfamilies.isActive">
		{{ 'TRAINER-FAMILY' | translate }}</a>
	<a mat-tab-link [routerLink]="['/trainerprofile/trainerprofilemenu', 'trainereducationdetails']" 
		routerLinkActive #rlatrainereducationdetails="routerLinkActive" [active]="rlatrainereducationdetails.isActive">
		{{ 'TRAINER-EDUCATION-DETAIL' | translate }}</a>
	<a mat-tab-link [routerLink]="['/trainerprofile/trainerprofilemenu', 'traineroccupations']" 
		routerLinkActive #rlatraineroccupations="routerLinkActive" [active]="rlatraineroccupations.isActive">
		{{ 'TRAINER-OCCUPATION' | translate }}</a>
</nav>
<router-outlet></router-outlet>