<ion-toolbar color="primary">
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-title>{{ 'ORGANIZATION' | translate }}</ion-title>
	<ion-buttons slot="end" color="success">
		<ion-button fill="clear" (click)="add()">
			<ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
<ion-content padding>
	<ion-card *ngFor="let organization of organizations">
		<ion-card-content style="padding: bottom 0px;">
			<h2>
				<b>{{ 'ORGANIZATION-ORGANIZATIONTYPE' | translate }}: </b>
				{{ organization.organizationType.name }}
			</h2>
			<h2>
				<b>{{ 'ORGANIZATION-ABBREVIATION' | translate }}: </b>
				{{ organization.abbreviation }}
			</h2>
			<h2>
				<b>{{ 'ORGANIZATION-NAME' | translate }}: </b>
				{{ organization.name }}
			</h2>
			<h2>
				<b>{{ 'ORGANIZATION-PROFILE' | translate }}: </b>
				{{ organization.profile }}
			</h2>
			<ion-row no-padding>
				<ion-col col-9 no-padding></ion-col>
				<ion-col col-3 no-padding>
					<ion-button fill="clear" size="small" (click)="edit(organization)">
						<ion-icon name="create-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="delete(organization)">
						<ion-icon name="trash-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="print(organization)">
						<ion-icon name="print-outline"></ion-icon>
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
</ion-content>