<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button tab="scholars">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'SCHOLAR' | translate }}</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="scholardetails">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'SCHOLAR-DETAIL' | translate }}</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="scholaraddresses">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'SCHOLAR-ADDRESS' | translate }}</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="scholarfamilies">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'SCHOLAR-FAMILY' | translate }}</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="scholareducationdetails">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'SCHOLAR-EDUCATION-DETAIL' | translate }}</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="scholaroccupations">
			<ion-icon name="people"></ion-icon>
			<ion-label>{{ 'SCHOLAR-OCCUPATION' | translate }}</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>