<ion-content *ngIf="forgotForm">
	<form [formGroup]="forgotForm">
		<div class="input-group">
			<ion-card-header>
				<ion-card-title>{{ 'FORGOT-PASSWORD' | translate }}</ion-card-title>
				<ion-card-subtitle>{{ 'FORGOT-PASSWORD-MESSAGE' | translate }}</ion-card-subtitle>
			</ion-card-header>
			<ion-item>
				<ion-input formControlName="username" id="username" name="username" #username
						placeholder="{{ 'USERNAME-EMAIL' | translate }}" minlength="3" maxlength="120" required>
					<ion-icon name="mail-outline" slot="start"></ion-icon>
				</ion-input>
			</ion-item>
			<div *ngIf="(forgotForm.controls['username'].dirty || forgotForm.controls['username'].touched)" class="errors">
				<div *ngIf="hasError('username', 'required')">
					{{ 'USERNAME-EMAIL-REQ' | translate }}</div>
				<div *ngIf="hasError('username', 'minlength')">
					{{ 'USERNAME-EMAIL-MIN' | translate }}</div>
				<div *ngIf="hasError('username', 'maxlength')">
					{{ 'USERNAME-EMAIL-MAX' | translate }}</div>
				<div *ngIf="hasError('username', 'pattern')">
					{{ 'USERNAME-EMAIL-FORMAT' | translate }}</div>
			</div><br/><br/>
		</div>
		<ion-button type="button" expand="block" color="tertiary"(click)="resetPassword()">
			{{ 'SEND-ME-INSTRUCTION' | translate }}</ion-button><br/><br/><br/>
		<ion-button type="button" expand="block" color="light" (click)="doLogin()">
			{{ 'LOGIN' | translate }}</ion-button>
		<ion-button type="button" expand="block" color="secondary" (click)="doRegister()">
			Not yet a member? Sign up!</ion-button>
	</form>
</ion-content>