<ion-toolbar color="primary">
	<ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	</ion-buttons>
	<ion-title>{{ 'TRAINER-ADDRESS' | translate }}</ion-title>
	<ion-buttons slot="end" color="success">
		<ion-button fill="clear" (click)="add()">
			<ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
<ion-content padding>
	<ion-card *ngFor="let trainerAddress of trainerAddresses">
		<ion-card-content style="padding: bottom 0px;">
			<h2>
				<b>{{ 'TRAINER-ADDRESS-TRAINER' | translate }}:</b>&nbsp;
				{{ trainerAddress.trainer.user.firstName }} {{ trainerAddress.trainer.user.lastName }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-ADDRESS-ADDRESSTYPE' | translate }}:</b>&nbsp;
				{{ trainerAddress.addressType.name }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-ADDRESS-CONTACTPERSONNAME' | translate }}:</b>&nbsp;
				{{ trainerAddress.contactPersonName }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-ADDRESS-COUNTRY' | translate }}:</b>&nbsp;
				{{ trainerAddress.country.name }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-ADDRESS-STATE' | translate }}:</b>&nbsp;
				{{ trainerAddress.state.name }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-ADDRESS-TELEPHONENUMBERONE' | translate }}:</b>&nbsp;
				{{ trainerAddress.telephoneNumberOne }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-ADDRESS-HANDPHONENUMBERONE' | translate }}:</b>&nbsp;
				{{ trainerAddress.handphoneNumberOne }}
			</h2>
			<h2>
				<b>{{ 'TRAINER-ADDRESS-EMAILADDRESSONE' | translate }}:</b>&nbsp;
				{{ trainerAddress.emailAddressOne }}
			</h2>
			<ion-row no-padding>
				<ion-col size="4" no-padding></ion-col>
				<ion-col size="8" no-padding>
					<ion-button fill="clear" size="small" (click)="edit(trainerAddress)">
						<ion-icon name="create-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="delete(trainerAddress)">
						<ion-icon name="trash-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="print(trainerAddress)">
						<ion-icon name="print-outline"></ion-icon>
					</ion-button>
					<ion-button fill="clear" size="small" (click)="showDetail(trainerAddress)">
						<ion-icon name="list-outline"></ion-icon>
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
</ion-content>